
    <nav >
        <div class="nav-wrapper" style="position:inherit;background-color:#5D2C87;">
            <a href="" class="brand-logo" style="">
               Sign Up
            </a>

            <a href="#" class="button-collapse right" data-activates="jobseeker_register_steps_sideNav" data-closeonclick="true"  ><i class="material-icons">menu</i></a>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <!-- Dropdown Trigger -->
                <li>
                    <a class='dropdown-button' href='javascript:void(0);' data-activates='demoDropdown' dropdown data-hover="false">
                        <i class="material-icons right">more_vert</i>Guest
                    </a>
                </li>

            </ul>
        </div>
    </nav>

    <ul id='demoDropdown' class='dropdown-content'>
        <li><a ui-sref="login({type: type,  sub_type : subtype})">Login</a></li>
        <li><a ui-sref="welcome">Back</a></li>

    </ul>


<script>
    $(".button-collapse").sideNav({
        closeOnClick: true,

    });
</script>