<h1>Company</h1>

<div>
	<img ng-src="/{{post.postInfo.company_logo}}">
</div>

<div>
	<div>	
		{{post.company.company_name.slug}}
	</div>
	
	<div>
		{{post.company.company_name.paramValue}}
	</div>

</div>

<div>
	<div>
		{{post.company.category.slug}}
	</div>
	
	<div>
		{{post.company.category.paramValue}}
	</div>
</div>

<div>
	<div>
		{{post.company.description.slug}}
	</div>
	
	<div>
		{{post.company.description.paramValue}}
	</div>
</div>

<div>
	<div>
		{{post.company.contact_person.slug}}
	</div>
	
	<div>
		{{post.company.contact_person.paramValue}}
	</div>
</div>

<div>
	<div>
		{{post.company.contact_title.slug}}
	</div>
	
	<div>
		{{post.company.contact_title.paramValue}}
	</div>
</div>