<div id="demoModal" class="modal modal-fixed-footer">
    <div class="modal-content">

        <ul class="col-md-2 ">
            <div ui-sref="general" class="postLi">
                General
            </div>
            <div ui-sref="the_company" class="postLi">
                The Company
            </div>
            <div ui-sref="company_video" class="postLi">
                Company Video
            </div>
            <div ui-sref="company_site" class="postLi">
                Company Site
            </div>
        </ul>

        <!-- -->
        <!--<div ui-view="job.the_company"></div>-->

        <div ui-view=""></div>

        <!--<div ui-view="general"></div>-->
        <!--<div ui-view="the_company"></div>-->
        <!--<div ui-view="jobseeker.findajob.job"></div>-->
    </div>
    <div class="modal-footer">
        <a  class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
        <a  class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>