<!-- <table class="table table-bordered table-hover table-condensed">
	<th ng-repeat="col in columns">
		{{col}}
	</th>
	<tr ng-repeat="param in params" >
	 <td ng-repeat="key in notSorted(param)" ng-init="value = param[key]" ng-show='!$last'>
      
          {{value}}
        
	 </td>
    </tr> 
</table> -->


 <div>

	<table class="table table-bordered table-hover table-condensed">

		<tr ng-repeat="param in sysParamValues">
	    	
	    	<td style="white-space: nowrap">
	        	<!-- form -->
		        <form editable-form name="rowform" onbeforesave="saveParam($data, param.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == param">
		        	<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">save</button>
		          	<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">cancel</button>
		        </form>
		        	<div class="buttons" ng-show="!rowform.$visible">
		          		<button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
		          		<button class="btn btn-danger" ng-click="deleteParam(param,$index)">del</button>
		        	</div>  
	       	</td>
	       	
	       	
	       	<td ng-repeat="(key,val) in param">
	        	<!-- editable username (text with validation) -->
	        	<span ng-show="key == 'id'" e-name="{{key}}" id="{{key}}">
	        		{{ val || 'empty' }}
	        	</span>
	         	<span editable-text="param.{{key}}" ng-if="key != 'id' && key != 'value_ref' && key != 'param_id' && key != 'ref_user_id' && key != 'doc_type'" e-class="form-control"  name="{{key}}" id="{{key}}" e-name="{{key}}" e-form="rowform"  e-required>
	          		{{ val || 'empty' }}
	         	</span>
	         	<span editable-select="param.{{key}}" ng-if="key == 'value_ref'" id="{{key}}" e-name="{{key}}" e-form="rowform" onshow="loadGroups(key)" e-class="form-control"  e-ng-options="g.id as g.value for g in groups[key]"  e-required>
	          		{{ val || 'empty' }}
	         	</span>
	         	<span editable-select="param.{{key}}" ng-if="key == 'param_id'" id="{{key}}" e-name="{{key}}" e-form="rowform" onshow="loadGroups(key)" e-class="form-control"   e-ng-options="g.id as g.name for g in groups[key]" e-required>
	          		{{ val || 'empty' }}
	         	</span>
	         	<span editable-select="param.{{key}}" ng-if="key == 'ref_user_id'" id="{{key}}" e-name="{{key}}" e-form="rowform" onshow="loadGroups(key)" e-class="form-control" e-ng-options="g.id as g.id + ' ' + g.first_name + ' ' + g.last_name for g in groups[key]" e-required>
	          		{{ val || 'empty' }}
	         	</span>
	         	<span editable-select="param.{{key}}" ng-if="key == 'doc_type'" id="{{key}}" e-name="{{key}}" e-form="rowform" onshow="loadGroups(key)" e-class="form-control" e-ng-options="g.id as g.name for g in groups[key]" e-required>
	          		{{ val || 'empty' }}
	         	</span>
	         
	      	</td>
	    </tr>
	 </table>
	
	 <button class="btn btn-default" ng-click="addParam()">Add row</button>
</div>

