<h1>Tables</h1>
<uib-tabset>

    <uib-tab heading="type_user" ui-sref="admin.tables.type_user"></uib-tab>
    <uib-tab heading="param" ui-sref="admin.tables.param"></uib-tab>
    <uib-tab heading="doc_param" ui-sref="admin.tables.doc_param"></uib-tab>
    <uib-tab heading="sys_param_values" ui-sref="admin.tables.sys_param_values"></uib-tab>
    <uib-tab heading="param_type" ui-sref="admin.tables.param_type"></uib-tab>
    <uib-tab heading="param_value" ui-sref="admin.tables.param_value"></uib-tab>
    <uib-tab heading="doc_type" ui-sref="admin.tables.doc_type"></uib-tab>


</uib-tabset>





<div ui-view="" class="container"></div>