<h1>Tables</h1>

<a ui-sref="admin.tables.type_user" class="btn btn-default">type_user</a>
<a ui-sref="admin.tables.param" class="btn btn-default">param</a>
<a ui-sref="admin.tables.doc_param" class="btn btn-default">doc_param</a>
<a ui-sref="admin.tables.sys_param_values" class="btn btn-default">sys_param_values</a>
<a ui-sref="admin.tables.param_type" class="btn btn-default">param_type</a>
<a ui-sref="admin.tables.param_value" class="btn btn-default">param_value</a>
<a ui-sref="admin.tables.doc_type" class="btn btn-default">doc_type</a>



<div ui-view="" class="container"></div>