<div class="wrapper">

    <div ui-view="company.nav"      ng-show="$state.includes('employer.company')"></div>
    <div ui-view="postajob.nav"     ng-show="$state.includes('employer.postajob')"></div>

    <div ui-view="company.sideNav"  ng-show="$state.includes('employer.company')"></div>
    <div ui-view="postajob.sideNav" ng-show="$state.includes('employer.postajob')"></div>

    <div ui-view="company"          ng-show="$state.includes('employer.company')"></div>
    <div ui-view="postajob"         ng-show="$state.includes('employer.postajob')"></div>

</div>

