<div class="container" style="text-align: center; margin-top:100px;">


    <img ng-src="{{logo}}" style="width:200px;">
    <div class="" style="width:240px; margin:0 auto;">
        <form name="loginForm" class="form-signin" ng-submit="login()"  novalidate>
            <p class="bg-danger" >{{error}}</p>

            <div class="form-group" ng-class="{'has-error': errors.email}">
                <label class="control-label" for="email" style="float:left;font-size:18px;">Email</label>
                <input type="email" class="form-control login-form" name="email" ng-model="user.email" id="email" ng-minlength="5" required autofocus>
            </div>

            <div class="form-group"  ng-class="{'has-error': errors.password}">
                <label class="control-label" for="password" style="float:left;font-size:18px;">Password</label>
                <input type="password" class="form-control login-form" name="password" ng-model="user.password" id="password" ng-minlength="5" required>
            </div>

            <span style="float:left;">
                <input type="checkbox" name="remember" ng-model="user.remember" > Remember Me
            </span>
            <span style="float:right;">
                <a ng-click="getPasswordEmail()"  >Reset</a>
            </span>

            <button type="submit" class="btn btn-lg  btn-block loginButton login-form"  ng-disabled="loginForm.$invalid">Login</button>
            <a type="button" ui-sref=" {{ registeration_link }} "   class="btn btn-lg  btn-block registerButton login-form">New User</a>
            <a type="button" href="" class="btn btn-lg  btn-block loginFacebook login-form" ng-disabled="true">Facebook</a>
            <a type="button" href="" class="btn btn-lg  btn-block loginLinkedIn login-form" ng-disabled="true">LinkedIn</a>
        </form>
    </div>
</div>
