<div class="container" style="text-align: center; margin-top:100px;">


    <p class="bg-danger" >{{error}}</p>

    <img ng-src="{{logo}}" style="width:200px;">

    <div class="" style="width:300px; margin:0 auto;">
        <form name="passwordMail"  class="form-signin" method="POST" ng-submit="postPasswordEmail()">


            <p class="bg-danger" >{{errors.message}}</p>


            <div class="form-group" ng-class="{'has-error': errors}">
                <label class="control-label" for="email">Email</label>
                <input type="email" class="form-control login-form" name="email" ng-model="user.email" id="email" ng-minlength="5" required autofocus>
            </div>
            <div>
                <button class="waves-effect waves-light btn" type="submit" ng-disabled="passwordMail.$invalid">
                    Send Password Reset Link
                </button>
            </div>
        </form>
    </div>
</div>