
<form id="registerForm" name="registerForm" ng-init="loadGroups()" novalidate>

<main>

	<!--<ul class="bg-danger">-->
		<!--<li  ng-repeat="error in errors">-->
			<!--<ul>-->
				<!--<li ng-repeat="err in error">{{err}}</li>-->
			<!--</ul>-->
		<!--</li>-->
	<!--</ul>-->


	<div class="errors alert alert-danger" ng-if="errors">
		<ul>
			<li ng-repeat="(key,error) in errors track by $index">
				{{error[0] }}
			</li>
		</ul>
	</div>

	<div>

<pre>{{docParam}}</pre>

		<div ng-if="docParam == 'personal_information'">

			<!-- <input type="text" class="" name="id" ng-value="" ng-model="user.personal_information.id">
			<input type="text" class="" name="type" ng-value="1" ng-model="user.personal_information.type">
			<input type="text" class="" name="subtype" ng-value="jobSeeker" ng-model="user.personal_information.subtype">
			<input type="text" class="" name="status" ng-value="active" ng-model="user.personal_information.active"> -->




			<div class=" col-xs-12  col-sm-12 col-md-12 col-lg-12">
				<div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3 "> First Name* </div>
				<div class="col-xs-12 col-sm-4 col-lg-6 col-lg-6 form-group"  ng-class="{'has-error': errors.first_name}">
					<input type='text'
						   class="form-control "
						   name="first_name"
						   ng-change="validateThis('first_name')"
						   placeholder="First Name"
						   ng-model="user.personal_information.first_name"

						   ng-maxlength="30"
						   ng-pattern="/^[a-zA-Z- ]*$/"
						   ng-focus="errors.first_name"
						   required>
				</div>


				<ul ng-show="registerJobSeekerForm.first_name.$dirty || registerJobSeekerForm.last_name.$touched || serverValidation">

					<li class="help-block" ng-show="registerJobSeekerForm.first_name.$error.pattern">Please insert your real name. only english characters.</li>
					<li class="help-block" ng-show="registerJobSeekerForm.first_name.$error.required">Required</li>
					<li class="help-block" ng-show="registerJobSeekerForm.first_name.$error.minlength">Please insert at least 3 letters</li>
					<span class="help-block" ng-show="registerJobSeekerForm.first_name.$error.maxlength">Please insert a maximum of 15 letters</span>
					<span class="help-block" ng-show="registerJobSeekerForm.first_name.$touched && registerJobSeekerForm.first_name.$valid">Hi {{user.personal_information.first_name | capitalize}}, Cool Name!!</span>
				</ul>

			</div>

			

			<div class=" col-xs-12  col-sm-12 col-md-12 col-lg-12">
				<div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3"> Last Name* </div>
				<div class="col-xs-12 col-sm-4 col-lg-6 col-lg-6 form-group" ng-class="{'has-error': errors.last_name}">
					<input type='text' class="form-control " name="last_name" placeholder="Last Name" ng-model="user.personal_information.last_name" ng-minlength="3" ng-maxlength="15" required>
				</div>
				<div ng-show="registerJobSeekerForm.last_name.$dirty || registerJobSeekerForm.last_name.$touched || serverValidation">
					<span class="help-block" ng-show="registerJobSeekerForm.last_name.$error.pattern">Please insert your real last name and use only english letters</span>
					<span class="help-block" ng-show="registerJobSeekerForm.last_name.$error.required">Required</span>
					<span class="help-block" ng-show="registerJobSeekerForm.last_name.$error.minlength">Please insert at least 3 letters</span>
					<span class="help-block" ng-show="registerJobSeekerForm.last_name.$error.maxlength">Please insert a maximum of 15 letters</span>
					<span class="help-block" ng-show="registerJobSeekerForm.last_name.$touched && registerJobSeekerForm.last_name.$valid">Welcome to Our Career System!!</span>
				</div>
			</div>
			
			<div class=" col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3"> Phone/Cell* </div>

				<div class="col-xs-12 col-sm-4 col-lg-6 col-lg-6 form-group">
					<input type='text' class="form-control " name="phone_1"    placeholder="Phone/Cell" ng-model="user.personal_information.phone_1" >
				</div>

			</div>
			
			<div class=" col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3"> *E-mail </div>

				<div class="col-xs-12 col-sm-4 col-lg-6 col-lg-6 form-group"  ng-class="{'has-error': errors.email}">
					<input type='email' class="form-control " name="email" placeholder="email" ng-change="validateOnServer()"  ng-model="user.personal_information.email" required>
				</div>
				<span class="help-block" ng-if="emailUnique || serverValidation" ng-repeat="error in emailUnique">{{error}}</span>

				<div ng-show="registerJobSeekerForm.email.$dirty || registerJobSeekerForm.email.$touched || serverValidation">
					<span class="help-block" ng-show="registerJobSeekerForm.email.$error.required">Required</span>
					<span class="help-block" ng-show="registerJobSeekerForm.email.$touched && registerJobSeekerForm.email.$invalid">please insert a valid email address</span>
					<span class="help-block" ng-show="registerJobSeekerForm.email.$touched && registerJobSeekerForm.email.$valid">thanks. </span>
				</div>
			</div>
			
			<div class=" col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3"> Password* </div>

				<div class="col-xs-12 col-sm-4 col-lg-6 col-lg-6 form-group" ng-class="{'has-error': errors.password}">
					<input type='password' class="form-control " name="password" placeholder="Password" ng-model="user.personal_information.password" ng-minlength="6" ng-maxlength="10" required>
				</div>
				<div ng-show="registerJobSeekerForm.password.$dirty || registerJobSeekerForm.password.$touched || serverValidation">
					<span class="help-block" ng-show="registerJobSeekerForm.password.$error.required">Required</span>
					<span class="help-block" ng-show="registerJobSeekerForm.password.$invalid">password must be 6-10 characters </span>
					<span class="help-block" ng-show="registerJobSeekerForm.password.$touched && registerJobSeekerForm.password.$valid">Dont worry, your secret is safe with us.</span>
				</div>
			</div>
			
			<div class=" col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3"> Gender* </div>
				<div class="col-xs-12 col-sm-4 col-lg-6 col-lg-6 form-group" show-errors>
					<select class="form-control " name="gender" ng-model="user.personal_information.gender" >

						<option value="male" >Male</option>
						<option value="female" >Female</option>
					</select>
				</div>
			</div>
			
			<!-- <div>

			<div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3">
			Birthdate*
			</div>

			<div>
			<input type='date' class="form-control " name="date_of_birth" placeholder="Birthdate" ng-model="user.personal_information.date_of_birth" required>
			</div>

			</div>
				 -->
			<div class=" col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3"> Marital Status </div>
				<div class="col-xs-12 col-sm-4 col-lg-6 col-lg-6 form-group" show-errors >
					<select class="form-control  " name="martial_status" ng-model="user.personal_information.martial_status" >
						<option value="" selected></option>
						<option value="single" >Single</option>
						<option value="married" >Married</option>
						<option value="Divorced" >Divorced</option>
						<option value="Widowed" >Widowed</option>
					</select> </div>
			</div>
			

			<div class=" col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3"> Education Status </div>
				<div class="col-xs-12 col-sm-4 col-lg-6 col-lg-6 form-group" show-errors>
					<select class="form-control"
							name="education_status"
							ng-model="user.personal_information.education_status"
							ng-options="s.value as s.text for s in educationStatuses"
							ng-selected="user.personal_information.education_status" >
					</select>
				</div>
			</div>
			
			<div class=" col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3"> Street Address 1 </div>

				<div class="col-xs-12 col-sm-4 col-lg-6 col-lg-6 form-group" show-errors>
					<input type='text' class="form-control " name="street_1" placeholder="" ng-model="user.personal_information.street_1" >
				</div>

			</div>
			

			<div class=" col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3  "> country </div>

				<div class="col-xs-12 col-sm-4 col-lg-6 col-lg-6 form-group" show-errors>
					<input type="text" name="country" ng-model="user.personal_information.country" class="form-control"  >
					<!--typeahead="country for country in countries  | filter:$viewValue | limitTo:8"-->
				</div>

			</div>
			
			<div class=" col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3"> State* </div>

				<div class="col-xs-12 col-sm-4 col-lg-6 col-lg-6 form-group" show-errors>
					<input type="text" name="state" ng-model="user.personal_information.state" placeholder="" class="form-control "  ng-model="user.personal_information.state" >
					<!--typeahead="state.name as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html"-->
				</div>

			</div>
			
			<div class=" col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3"> city* </div>

				<div class="col-xs-12 col-sm-4 col-lg-6 col-lg-6 form-group" show-errors>
					<input type="text" name="city" class="form-control " ng-model="user.personal_information.city" placeholder=""  ng-model="user.personal_information.city" >
					<!--typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults"-->
				</div>

			</div>
			
			<div class=" col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3"> Zip Code </div>

				<div class="col-xs-12 col-sm-4 col-lg-6 col-lg-6 form-group" show-errors>
					<input type="text" name="zipcode" class="form-control " ng-model="user.personal_information.zipcode">
				</div>

			</div>
			
			<div class=" col-xs-12  col-sm-12 col-md-12 col-lg-12-">

				<div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3"> Facebook </div>

				<div class="col-xs-12 col-sm-4 col-lg-6 col-lg-6 form-group" show-errors>
					<input type="text"  name="facebook" class="form-control " >
				</div>

			</div>
			
			<div class=" col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3"> Twitter </div>

				<div class="col-xs-12 col-sm-4 col-lg-6 col-lg-6 form-group" show-errors>
					<input type="text"  name="twitter" class="form-control " >
				</div>

			</div>
			
			<div class=" col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3"> LinkedIn </div>

				<div class="col-xs-12 col-sm-4 col-lg-6 col-lg-6 form-group" show-errors>
					<input type="text" name="linkedin" class="form-control " >
				</div>

			</div>
			
			<div class=" col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3"> YouTube video </div>

				<div class="col-xs-12 col-sm-4 col-lg-6 col-lg-6 form-group" show-errors>
					<input type="text" name="youtube" class="form-control" >
				</div>

			</div>
			
			<!--<style type="text/css">-->
				<!--label {-->
					<!--display: block;-->
					<!--padding-left: 15px;-->
					<!--text-indent: -15px;-->
				<!--}-->
				<!--input {-->
					<!--width: 13px;-->
					<!--height: 13px;-->
					<!--padding-left: 15px;-->
					<!--margin:0;-->
					<!--vertical-align: bottom;-->
					<!--position: relative;-->
					<!--top: -1px;-->
					<!--overflow: hidden;-->
				<!--}-->
			<!--</style>-->
			<div class=" col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class="" style="float:left;cursor:pointer;">
					<label style="cursor:pointer;padding-left:15px;">
					<input type="checkbox" class="" ng-model="user.personal_information.send_newsletters" style="width:15px;">
					 I wish to receive newsletters with updates from time to time
					</label>
				</div>

			</div>

			
			<div class="" style="padding-left:30px;">
				<div class="modal-trigger disclaimerDiv col-xs-12 col-sm-8 col-md-9 col-lg-9" href='#disclaimer'>
					<ng-include class="" src="'../../../partials/disclaimer.html'"  ></ng-include>
				</div>
			</div>



			<!--expanded disclaimer-->
			<div id="disclaimer" class="disclaimerModal modal bottom-sheet">
				<div class="navbar-fixed" >
					<nav style="background-color:#5D2C87;">
						<div class="nav-wrapper">
							<a class="brand-logo" >Privacy Policy</a>

							<ul class="hide-on-med-and-down" style="width:25%;float:right;" >
								<li class="" >
									<a href=""  class="modal-action modal-close waves-effect waves-purple" ng-click="disclaimerOpen = false; user.personal_information.registration = true"  tooltipped  data-position="left" data-delay="100" data-tooltip="Please Read Everything First"><i class="glyphicon glyphicon-ok"></i>Agree</a>
								</li>
								<li>
									<a href="" class="modal-action modal-close waves-effect waves-purple" ng-click="disclaimerOpen = false; user.personal_information.registration = false"><i class="glyphicon glyphicon-remove"></i>Decline</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
				<div class="disclaimerModalContent" >
					<ng-include class="  col-xs-12 col-sm-12 col-md-12 col-lg-12" src="'../../../partials/disclaimer.html'"></ng-include>
				</div>
			</div>

			

			<div class=" col-xs-12  col-sm-12 col-md-12 col-lg-12">
				<div style="float:left;cursor:pointer;" class="form-group" >
					<label style="cursor:pointer;padding-left:15px;">
						<input type="checkbox" ng-model="user.personal_information.registration" name="registration" class=""  required>
						I have read and approved the disclaimer
					</label>
				</div>
			</div>
		</div>





	</div>


		<div ng-repeat="(paramId,paramValues) in user[docParam] track by $index"  class="form_field" ng-hide="docParam == 'files'"  ng-if="paramId != 'docParamId'">


			<!--<div ng-if="!(user[docParam].length>0)">-->

				<!--<div ng-if="docParam != 'personal_information'"  class="form-field" >-->


					<!--<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">-->
						<!--{{paramValues.paramName | underscoreless | capitalize}}-->
					<!--</div>-->

					<!--&lt;!&ndash;<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>&ndash;&gt;-->

					<!--<div ng-switch="user[docParam][paramId]['inputType']">-->

						<!--<div ng-switch-when="text">-->
							<!--<div class="col-xs-12col-sm-4 col-md-4 col-lg-4">-->
								<!--<input type='text' class="form-control" placeholder="{{paramValues.paramName}}" name="user[docParam][paramId]['paramValue']" ng-model="user[docParam][paramId]['paramValue']"  value="old[['first_name']]">-->
							<!--</div>-->
						<!--</div>-->

						<!--<div ng-switch-when="select">-->
							<!--<div  class="col-xs-12 col-sm-4 col-md-4 col-lg-4" >-->


								<!--&lt;!&ndash;<select data-ng-model="country" data-ng-options="country.name for country in countries" data-ng-change="">&ndash;&gt;-->
									<!--&lt;!&ndash;<option value="">Select country</option>&ndash;&gt;-->
								<!--&lt;!&ndash;</select>&ndash;&gt;-->
								<!--&lt;!&ndash;&ndash;&gt;-->
								<!--&lt;!&ndash;<select data-ng-model="state" data-ng-options="state.name for state in states | filter:{countryId: country.id}:true">&ndash;&gt;-->
									<!--&lt;!&ndash;<option value="">Select state</option>&ndash;&gt;-->
								<!--&lt;!&ndash;</select>&ndash;&gt;-->
								<!--&lt;!&ndash; Country: {{country}}&ndash;&gt;-->
								<!--&lt;!&ndash; State: {{state}}&ndash;&gt;-->




								<!--<select class="form-control" ng-model="user[docParam][paramId]['paramValue']"-->
										<!--ng-options="o.id as o.text for o in groups[paramValues.paramName] | toArray:true | filter:{parent_id: user[docParam][user[docParam][paramId]['paramParentId']]['paramValue'] }:true">-->
								<!--</select>-->

					 	<!--&lt;!&ndash;&#45;&#45;<pre>paramId: {{paramId}}</pr&ndash;&gt;-->
						<!--&lt;!&ndash;&#45;&#45;<pre>paramParentId: {{user[docParam][paramId]['paramParentId']}}</pr&ndash;&gt;-->
						<!--&lt;!&ndash;&#45;&#45;<pre>parameter: {{user[docParam][paramId]['paramName']}}</pr&ndash;&gt;-->

						<!--&lt;!&ndash;&#45;&#45;<pre>parameter parent_id: {{user[docParam][paramId]['paramParentId']}}</pr&ndash;&gt;-->
						<!--&lt;!&ndash;&#45;&#45;<pre>selected  id: {{user[docParam][paramId]['paramValue']}}</pr&ndash;&gt;-->
						<!--&lt;!&ndash;&#45;&#45;<pre>selected  parent_id: {{ user[docParam][user[docParam][paramId]['paramParentId']]['paramValue']}}</pr&ndash;&gt;-->
							<!--</div>-->
						<!--</div>-->

						<!--<div ng-switch-when="multitype_1">-->
							<!--<div  class="col-xs-12 col-sm-4 col-md-4 col-lg-4" >-->


								<!--&lt;!&ndash;<select data-ng-model="country" data-ng-options="country.name for country in countries" data-ng-change="">&ndash;&gt;-->
								<!--&lt;!&ndash;<option value="">Select country</option>&ndash;&gt;-->
								<!--&lt;!&ndash;</select>&ndash;&gt;-->
								<!--&lt;!&ndash;&ndash;&gt;-->
								<!--&lt;!&ndash;<select data-ng-model="state" data-ng-options="state.name for state in states | filter:{countryId: country.id}:true">&ndash;&gt;-->
								<!--&lt;!&ndash;<option value="">Select state</option>&ndash;&gt;-->
								<!--&lt;!&ndash;</select>&ndash;&gt;-->
								<!--&lt;!&ndash; Country: {{country}}&ndash;&gt;-->
								<!--&lt;!&ndash; State: {{state}}&ndash;&gt;-->




								<!--<select class="form-control" ng-model="user[docParam][paramId]['paramValue']" ng-options="o.id as o.text for o in groups[paramValues.paramName] | toArray:true  | filter:{parent_id: user[docParam][user[docParam][paramId]['paramParentId']]['paramValue'] }:true " >-->
								<!--</select>-->
								<!--&lt;!&ndash;<pre>paramId: {{paramId}}</pre>&ndash;&gt;-->
								<!--&lt;!&ndash;<pre>paramParentId: {{user[docParam][paramId]['paramParentId']}}</pre>&ndash;&gt;-->
								<!--&lt;!&ndash;<pre>parameter: {{user[docParam][paramId]['paramName']}}</pre>&ndash;&gt;-->

								<!--&lt;!&ndash;<pre>parameter parent_id: {{user[docParam][paramId]['paramParentId']}}</pre>&ndash;&gt;-->
								<!--&lt;!&ndash;<pre>selected  id: {{user[docParam][paramId]['paramValue']}}</pre>&ndash;&gt;-->
								<!--&lt;!&ndash;<pre>selected  parent_id: {{ user[docParam][user[docParam][paramId]['paramParentId']]['paramValue']}}</pre>&ndash;&gt;-->
							<!--</div>-->
						<!--</div>-->

						<!--<div ng-switch-when="textarea">-->
							<!--<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">-->
								<!--<textarea class="form-control" placeholder="{{paramId}}" name="user[docParam][paramId]['paramValue']" ng-model="user[docParam][paramId]['paramValue']" ></textarea>-->
							<!--</div>-->
						<!--</div>-->

						<!--<div ng-switch-when="checklist">-->
							<!--<div  class="col-xs-12 col-sm-4 col-md-4 col-lg-4"  >-->
								<!--<label ng-repeat="check in groups[paramId] track by $index" >-->
									<!--<input type="checkbox" checklist-model="user[docParam][paramId]['paramValue']" checklist-value="check.value"  >-->
									<!--<small>{{check.text}}</small>-->
								<!--</label>-->
							<!--</div>-->

						<!--</div>-->

						<!--<div ng-switch-when="date">-->

							<!--&lt;!&ndash;materialize pickDate&ndash;&gt;-->
							<!--&lt;!&ndash;<p>{{user[docParamName][paramKey][k][r] | date:"MM/dd/yyyy"}}</p>&ndash;&gt;-->
							<!--<div  class="col-xs-12 col-sm-4 col-md-4 col-lg-4" >-->
								<!--<input input-date-->

									   <!--type="text"-->
									   <!--name="created"-->
									   <!--id="inputCreated[paramId]['paramValue']"-->
									   <!--class="datepicker form-control form-con-width"-->
									   <!--ng-model="user[docParam][paramId]['paramValue']"-->
									   <!--container="body"-->
									   <!--format="MM/dd/yyyy"-->
									   <!--months-full="{{ month }}"-->
									   <!--months-short="{{ monthShort }}"-->
									   <!--weekdays-full="{{ weekdaysFull }}"-->
									   <!--weekdays-short="{{ weekdaysShort }}"-->
									   <!--weekdays-letter="{{ weekdaysLetter }}"-->
									   <!--min="{{ minDate }}"-->
									   <!--max="{{ maxDate }}"-->
									   <!--today="today"-->
									   <!--clear="clear"-->
									   <!--close="close"-->
									   <!--select-years="15"-->
									   <!--on-start="onStart()"-->
									   <!--on-render="onRender()"-->
									   <!--on-open="onOpen()"-->
									   <!--on-close="onClose()"-->
									   <!--on-set="onSet()"-->
									   <!--on-stop="onStop()" />-->
								<!--&lt;!&ndash;end materialize pickDate&ndash;&gt;-->
								<!--&lt;!&ndash;<script>&ndash;&gt;-->
									<!--&lt;!&ndash;$('.datepicker').pickadate();&ndash;&gt;-->
								<!--&lt;!&ndash;</script>&ndash;&gt;-->
							<!--</div>-->
							<!--&lt;!&ndash;<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">&ndash;&gt;-->
								<!--&lt;!&ndash;<p class="input-group">&ndash;&gt;-->
									<!--&lt;!&ndash;<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="user[docParam][paramId]['paramValue']" is-open="opened[paramId]" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />&ndash;&gt;-->
								  <!--&lt;!&ndash;<span class="input-group-btn">&ndash;&gt;-->
									<!--&lt;!&ndash;<button type="button" class="btn btn-default" ng-click="open($event,paramId)"><i class="glyphicon glyphicon-calendar"></i></button>&ndash;&gt;-->
								  <!--&lt;!&ndash;</span>&ndash;&gt;-->
								<!--&lt;!&ndash;</p>&ndash;&gt;-->
							<!--&lt;!&ndash;</div>&ndash;&gt;-->
							<!--&lt;!&ndash;<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">&ndash;&gt;-->
							<!--&lt;!&ndash;<select class="form-control" ng-model="user[docParam][paramId]['paramValue']['month']" ng-options="o.value as o.text for o in months">&ndash;&gt;-->
							<!--&lt;!&ndash;</select>&ndash;&gt;-->
							<!--&lt;!&ndash;</div>&ndash;&gt;-->

							<!--&lt;!&ndash;<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">&ndash;&gt;-->
							<!--&lt;!&ndash;<select class="form-control" ng-model="user[docParam][paramId]['paramValue']['year']" ng-options="o.value  as o.text  for o in years">&ndash;&gt;-->

							<!--&lt;!&ndash;</select>&ndash;&gt;-->
							<!--&lt;!&ndash;</div>&ndash;&gt;-->
						<!--</div>-->

						<!--<div ng-switch-when="cv">-->


							<!--<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">-->
									<!--<input ng-hide="hideInput" id="cvUpload"  type="file" nv-file-select uploader="uploader" />-->
									<!--<ul>-->
										<!--<li ng-repeat="item in uploader.queue" style="text-align:left;">-->
											<!--<label>File name:</label> <span ng-bind="item.file.name"></span>-->
											<!--<button class="waves-effect waves-lights waves-teal" ng-click="item.upload();" style="font-size:22px;cursor:pointer;background-color: #FFFFFF;"><i class="glyphicon glyphicon-cloud-upload" ></i> &nbsp; Upload </button>-->
										<!--</li>-->
									<!--</ul>-->
							<!--</div>-->
							<!--<button  ng-show="hideInput" type="button" class="waves-effect waves-lights waves-teal" ng-click="resetPdfUrl();" style="background-color: #FFFFFF;font-size:22px;">-->
								<!--<div ><i  class="glyphicon glyphicon-remove"></i></div>-->
							<!--</button>-->
						<!--</div>-->

						<!--<div ng-switch-default>-->
							<!--<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">-->
								<!--<input type=text class="form-control" placeholder="{{paramId}}" name="user[docParam][paramId]['paramValue']" ng-model="user[docParam][paramId]['paramValue']" required>-->
							<!--</div>-->
						<!--</div>-->

					<!--</div>-->

				<!--</div>-->

				<!--<div ng-show="$last  && docParam != 'personal_information'">-->
					<!--<button type="button" class="btn btn-xs btn-default" ng-click="addRecordJobSeeker(docParam,$index)">-->
						<!--+ Add a Record-->
					<!--</button>-->
				<!--</div>-->
			<!--</div>-->
			<div ng-if="user[docParam].length>0">

				<div ng-repeat="(paramName,props) in paramValues track by $index" class="form-field"  ng-if="paramName != 'docParamId'">

					<div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
						{{ props.paramName | underscoreless | capitalize }}
					</div>

					<div ng-switch="props.inputType">

						<div ng-switch-when="text">
							<div  class="col-xs-12col-sm-4 col-md-4 col-lg-4" ng-if="props.paramName">
								<input type='text' class="form-control" placeholder="{{paramName}}{{paramId + 1}}" name="user[docParam][paramId][paramName]['paramValue']" ng-model="user[docParam][paramId][paramName]['paramValue']">
							</div>
						</div>

						<div ng-switch-when="select">

							<div  class="col-xs-12col-sm-4 col-md-4 col-lg-4"  ng-if="props.paramName">
								<select class="form-control"
										ng-model="user[docParam][paramId][paramName]['paramValue']"
										ng-options="s.id as s.value for s in groups[props.paramName]  | toArray:true  | filter:{parent_id: user[docParam][paramId][user[docParam][paramId][paramName]['paramParentId']]['paramValue'] }:true "

										ng-disabled="!groups[props.paramName]">
								</select>

							</div>
							<!--<pre class="col-md-12">-->
								             			<!--{{user[docParam][user[docParam][paramId][paramName]['paramParentId']]['paramValue']}}-->
								    <!--parent id        :	{{user[docParam][paramId][paramName]['paramParentId']}}-->
									<!--selected id value:	{{user[docParam][paramId][paramName]['paramValue']}}-->
							<!--</pre>-->
						</div>

						<div ng-switch-when="checklist">

							<div  class="col-xs-12col-sm-4 col-md-4 col-lg-4" ng-if="props.paramName"  >
								<label ng-repeat="check in groups[props.paramName] track by $index" >
									<input type="checkbox" checklist-model="user[docParam][paramId][paramName]['paramValue']" checklist-value="check.value"  >
									<small>{{check.text}}</small>
								</label>
							</div>
						</div>

						<div ng-switch-when="date">

							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<!--materialize pickDate-->

								<input input-date

									   type="text"
									   name="created"
									   id="inputCreated[paramId][paramName]['paramValue']"
									   class="datepicker form-control form-con-width"
									   ng-model="user[docParam][paramId][paramName]['paramValue']"
									   container="body"
									   format="MM/dd/yyyy"
									   months-full="{{ month }}"
									   months-short="{{ monthShort }}"
									   weekdays-full="{{ weekdaysFull }}"
									   weekdays-short="{{ weekdaysShort }}"
									   weekdays-letter="{{ weekdaysLetter }}"
									   min="{{ minDate }}"
									   max="{{ maxDate }}"
									   today="today"
									   clear="clear"
									   close="close"
									   select-years="15"
									   on-start="onStart()"
									   on-render="onRender()"
									   on-open="onOpen()"
									   on-close="onClose()"
									   on-set="onSet()"
									   on-stop="onStop()" />
								<!--end materialize pickDate-->
								<script>
//									$('.datepicker').pickadate();
								</script>
								<!--<p class="input-group">-->
									<!--<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="openedIterable[paramId][paramName]" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />-->
								  <!--<span class="input-group-btn">-->
									<!--<button type="button" class="btn btn-default" ng-click="openIterable($event,paramName,paramId)"><i class="glyphicon glyphicon-calendar"></i></button>-->
								  <!--</span>-->
								<!--</p>-->
							</div>

						</div>
						<!--<div ng-switch-when="checklist">-->
						<!--<div  class="col-xs-12col-sm-4 col-md-4 col-lg-4"   ng-init="loadGroups(paramId)">-->
						<!--<label ng-repeat="check in groups[paramId]" >-->
						<!--<input type="checkbox" checklist-model="user[docParam][paramId][paramName]['paramValue']" checklist-value="check.value"  >-->
						<!--<small>{{check.text}}</small>-->
						<!--</label>-->
						<!--</div>-->

						<!--</div>-->
						<div ng-switch-when="cv">
							<div class="col-xs-12col-sm-4 col-md-4 col-lg-4" ng-init="getThisLengthKey(paramId);">
								<div>
									<input ng-hide="hideInput[paramId]"  id="cvUpload{{paramId}}" type="file" nv-file-select uploader="uploader[{{paramId}}]"/>
									<button  ng-show="pdfing[paramId]" type="button" class="waves-effect waves-lights waves-teal" ng-click="resetPdfUrlIterable(paramId);deleteFile();" style="background-color: #FFFFFF;font-size:18px;">
										<div ><i  class="glyphicon glyphicon-remove"></i></div>
									</button>
									<ul >
										<li ng-repeat="item in uploader[paramId].queue" style="text-align:left;">
											<label>File name:</label> <span ng-bind="item.file.name"></span>
											<button  ng-hide="hideInput[paramId]" class="waves-effect waves-lights waves-teal" ng-click="item.upload();" style="font-size:22px;cursor:pointer;background-color: #FFFFFF;"><i class="glyphicon glyphicon-cloud-upload" ></i> &nbsp; Upload </button>
										</li>
									</ul>
								</div>
							</div>
							<!--<button  ng-show="pdfing[paramId]" type="button" class="waves-effect waves-lights waves-teal" ng-click="resetPdfUrl(paramId);" style="background-color: #FFFFFF;font-size:18px;">-->
								<!--<div  ng-click="deleteFile()"><i  class="glyphicon glyphicon-remove"></i></div>-->
							<!--</button>-->
						</div>
						<div ng-switch-default>
							<div  class="col-xs-12col-sm-4 col-md-4 col-lg-4" ng-if="props.paramName">
								<input type='text' class="form-control " placeholder="{{paramName}}{{paramId + 1}}" name="user[docParam][paramId][paramName]['paramValue']" ng-model="user[docParam][paramId][paramName]['paramValue']">
							</div>
						</div>

					</div>





				</div>

				<div class="iterationCtrls col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="user[docParam].length > 1" >
					<div class="iterationCtrl" ng-click="remove(user[docParam],docParam,$index)"> X Delete </div>
					<div class="iterationCtrl" ng-click="move(user[docParam],$index,$index-1)"> Move Up </div>
					<div class="iterationCtrl" ng-click="move(user[docParam],$index,$index+1)"> Move Down </div>

				</div>
				<hr ng-if="user[docParam].length > 1" class="col-md-12">
				
			</div>


		</div>
	<div  ng-if="docParam != 'personal_information'"  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<!--<a class="btn-large waves-effect waves-light"  ng-click="addRecordJobSeeker(docParam,$index)"><i class="glyphicon glyphicon-plus"></i></a>-->
		<button type="button" class="btn-circle btn-lg waves-effect waves-light" ng-click="addRecordJobSeeker(docParam,$index)">
				<i class="glyphicon glyphicon-plus"></i>
		</button>

	</div>
	</div>

		<div ng-repeat="(key,val) in user['files']" class="" ng-hide="key == 'docParamId'">
			<div ng-show="docParam == 'files' "> <div class="" > {{key}} </div>
				<div style="height:200px;" ng-if="key =='paramValue'">
					<img ng-src="{{val}}" style="width:200px;">
				</div>
				<div flow-init="flowOp(key)"
					 flow-files-submitted="$flow.upload()"
					 flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
					 class="" >


					<div class="drop galleryDiv"
						 flow-drop
						 ng-class="dropClass"
						 flow-drag-enter="style={border:'1px solid #4E75AD'}"
						 flow-drag-leave="style={border:'1px dashed blue'}"
						 ng-style="style">

						<p class="dragNdrop">
							Drag & Drop JPG, GIF or PNG Files Here!
						</p>

						<div ng-repeat="file in $flow.files" class="gallery-box col-md-2">

							<div class="thumbnail_title">{{file.name}}</div>
							<div class="thumbnail" ng-show="$flow.files.length">
								<img flow-img="file" />
								<div class="progress progress-striped" ng-class="{active: file.isUploading()}">
									<div class="progress-bar" role="progressbar"
										 aria-valuenow="{{file.progress() * 100}}"
										 aria-valuemin="0"
										 aria-valuemax="100"
										 ng-style="{width: (file.progress() * 100) + '%'}">
										<div class="sr-only">{{file.progress()}}% Complete</div>
									</div>
								</div>
								<div class="btn-group">
									<a class="btn btn-xs btn-danger" ng-click="file.cancel()"> <i class="glyphicon glyphicon-trash"></i> </a>
								</div>
							</div>

						</div>

						<div class="clear"></div>
					</div>
				</div> </div>

			<div class="clearfix"></div>

			<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3"></div>

				<div class="col-xs-12 col-sm-4 col-lg-6 col-lg-6">
					<div class="">

						<div class="" ng-if="nextDoc(docParam)" >

							<button  ng-click="signup(user,docParam)"  class="waves-effect waves-light btn-flat" ng-disabled="registerJobSeekerForm.$invalid"> Proceed To {{nextDoc(docParam) | underscoreless | capitalize}} &nbsp <div class="glyphicon glyphicon-circle-arrow-right"></div> </button>

						</div>

						<div class=""  ng-if="nextDoc(docParam)==false">

							<a ui-sref="profile" class="waves-effect waves-light btn-flat"> Save &nbsp <div class="glyphicon glyphicon-circle-arrow-right"></div> </a>

						</div>
					</div>
				</div>

			</div>

		</div>
</main>


</form>