
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="nav-wrapper col-md-12" style="background-color:#5D2C87;">
        <div class="col-md-3">
            <a ui-sref="employer.company"    class="brand-logo text-center" style="text-decoration:none;">
                Steps
            </a>

            <a href="" class="button-collapse right" data-activates="admin_tables_sideNav" data-closeonclick="true"  ><i class="material-icons">menu</i></a>
        </div>





        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <!--<li><a href="">Messages<i class="material-icons left">message</i></a></a></li>-->
            <!--<li><a href="">Notifications<i class="material-icons">announcement</i></a></li>-->
            <li class="btn-group" uib-dropdown is-open="status.isopen">
                    <a id="single-button" type="button" class="" uib-dropdown-toggle ng-disabled="disabled">
                        <i class="material-icons right">perm_identity</i>{{ user.company['19']['paramValue']}}<!-- <span class="caret"></span>-->
                    </a>
                    <ul class="dropdown-menu navdrop" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <!--<li role="menuitem"><a href="#">Action</a></li>-->
                        <!--<li role="menuitem"><a href="#">Another action</a></li>-->
                        <!--<li role="menuitem"><a href="#">Something else here</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li role="menuitem"><a href="#">Separated link</a></li>-->
                        <li><a ui-sref="employer.company">My Company</a></li>
                        <li><a ui-sref="employer.edit">My Profile</a></li>
                        <li><a ui-sref="employer.edit">My Jobs</a></li>
                        <li><a ui-sref="admin.steps">Admin</a></li>
                        <li ng-controller="LogoutCtrl"><a ng-click="logout()">Logout</a></li>
                    </ul>
            </li>

            <!--<li>&lt;!&ndash; Dropdown Trigger &ndash;&gt;-->
                <!--<a class='dropdown-button' href='javascript:void(0);' data-activates='demoDropdown' dropdown data-hover="true">-->
                    <!--<i class="material-icons right">perm_identity</i>{{ user.company['19']['paramValue']}}-->
                <!--</a>-->
            <!--</li>-->

        </ul>

    </div>
</nav>

<!--<ul id='demoDropdown' class='dropdown-content'>-->
    <!--<li><a ui-sref="employer.company">My Company</a></li>-->
    <!--<li><a ui-sref="employer.edit">My Profile</a></li>-->
    <!--<li><a ui-sref="employer.edit">My Jobs</a></li>-->
    <!--<li ng-controller="LogoutCtrl"><a ng-click="logout()">Logout</a></li>-->
<!--</ul>-->


<script>
    $(".button-collapse").sideNav({
        closeOnClick: true
    });
</script>