<script type="text/ng-template" id="customTemplate.html">
	<a style="float:left;">
	<img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
	<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
	</a>
</script>

<div class="errors alert alert-danger" ng-if="errors">
	<ul>
		<li ng-repeat="(t,s) in errors track by $index">
			{{s}}
		</li>
	</ul>
</div>




<div class="col-lg-8">
<div ng-if="docParam == 'personalInfo'">
	
	<!-- <input type="text" class="" name="id" ng-value="" ng-model="user.personalInfo.id">
	<input type="text" class="" name="type" ng-value="1" ng-model="user.personalInfo.type">
	<input type="text" class="" name="subtype" ng-value="jobSeeker" ng-model="user.personalInfo.subtype">
	<input type="text" class="" name="status" ng-value="active" ng-model="user.personalInfo.active"> -->

	<div class="formDiv">

		<div class="param_label col-md-2"> First Name* </div>

		<div>
			<input type='text' class="form-control param_input" name="first_name" placeholder="First Name" ng-model="user.personalInfo.first_name" required>
		</div>

	</div>
	</br>
	<div class="formDiv">

		<div class="param_label col-md-2"> Last Name* </div>

		<div>
			<input type='text' class="form-control param_input" name="last_name" placeholder="Last Name" ng-model="user.personalInfo.last_name" required>
		</div>

	</div>
	</br>
	<div class="formDiv">

		<div class="param_label col-md-2"> Phone/Cell* </div>

		<div>
			<input type='text' class="form-control param_input" name="mobile" placeholder="Phone/Cell" ng-model="user.personalInfo.mobile" required>
		</div>

	</div>
	</br>
	<div class="formDiv">

		<div class="param_label col-md-2"> Email* </div>

		<div>
			<input type='email' class="form-control param_input" name="email" placeholder="email" ng-model="user.personalInfo.email" required>
		</div>

	</div>
	</br>
	<div class="formDiv">

		<div class="param_label col-md-2"> Password* </div>

		<div>
			<input type='password' class="form-control param_input" name="password" placeholder="Password" ng-model="user.personalInfo.password" required>
		</div>

	</div>
	</br>
	<div class="formDiv">

		<div class="param_label col-md-2"> Gender* </div>
		<div>
			<select class="form-control  param_input" name="gender" ng-model="user.personalInfo.gender">
				<option value="" selected></option>
				<option value="male" >Male</option>
				<option value="female" >Female</option>
			</select> </div>
	</div>
	</br>
	<!-- <div>

	<div class="param_label col-md-2">
	Birthdate*
	</div>

	<div>
	<input type='date' class="form-control param_input" name="date_of_birth" placeholder="Birthdate" ng-model="user.personalInfo.date_of_birth" required>
	</div>

	</div>
	</br>	 -->
	<div class="formDiv">

		<div class="param_label col-md-2"> Marital Status </div>
		<div>
			<select class="form-control  param_input" name="martial_status" ng-model="user.personalInfo.martial_status">
				<option value="" selected></option>
				<option value="single" >Single</option>
				<option value="married" >Married</option>
				<option value="Divorced" >Divorced</option>
				<option value="Widowed" >Widowed</option>
			</select> </div>
	</div>
	</br>
	<div class="formDiv">

		<div class="param_label col-md-2"> Education Status </div>
		<div>
			<select class="form-control  param_input" name="education_status" ng-model="user.personalInfo.education_status">
				<option value="" selected></option>
				<option value="Student" >Student</option>
				<option value="Graduate" >Graduate</option>
				<option value="Intern" >Intern</option>
			</select> </div>
	</div>
	</br>
	<div class="formDiv">

		<div class="param_label col-md-2"> Street Address 1 </div>

		<div>
			<input type='text' class="form-control param_input" name="street_1" placeholder="" ng-model="user.personalInfo.street_1" required>
		</div>

	</div>
	</br>

	<div class="formDiv">

		<div class="param_label col-md-2"> country </div>

		<div>
			<input type="text" ng-model="user.personalInfo.country" class="form-control param_input" typeahead="country for country in countries  | filter:$viewValue | limitTo:8" >
		</div>

	</div>
	</br>
	<div class="formDiv">

		<div class="param_label col-md-2"> State* </div>

		<div>
			<input type="text" name="state" ng-model="user.personalInfo.state" placeholder="" class="form-control param_input" typeahead="state.name as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" ng-model="user.personalInfo.state">
		</div>

	</div>
	</br>
	<div class="formDiv">

		<div class="param_label col-md-2"> city* </div>

		<div>
			<input type="text" name="city" class="form-control param_input" ng-model="asyncSelected" placeholder="" typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" ng-model="user.personalInfo.city" >
		</div>

	</div>
	</br>
	<div class="formDiv">

		<div class="param_label col-md-2"> Zip Code </div>

		<div>
			<input type="text" name="zipcode" class="form-control param_input" ng-model="user.personalInfo.zipcode">
		</div>

	</div>
	</br>
	<div class="formDiv">

		<div class="param_label col-md-2"> Facebook </div>

		<div>
			<input type="text" class="form-control param_input" >
		</div>

	</div>
	</br>
	<div class="formDiv">

		<div class="param_label col-md-2"> Twitter </div>

		<div>
			<input type="text" class="form-control param_input" >
		</div>

	</div>
	</br>
	<div class="formDiv">

		<div class="param_label col-md-2"> LinkedIn </div>

		<div>
			<input type="text" class="form-control param_input" >
		</div>

	</div>
	</br>
	<div class="formDiv">

		<div class="param_label col-md-2"> YouTube video </div>

		<div>
			<input type="text" class="form-control param_input" >
		</div>

	</div>
	</br>
	<div class="formDiv">

		<div style="float:left;">
			<input type="checkbox" class="" ng-model="user.personalInfo.send_newsletters">
			<div class="param_label"> I wish to receive newsletters with updates from time to time </div> </div>

	</div>
	</br>

	<ng-include class="formDiv" src="'../../../partials/disclaimer.html'"></ng-include>

	</br>

	<div class="formDiv">

		<div style="float:left;">
			<input type="checkbox" class="" >
			<div class="param_label"> I have read and approved the disclaimer </div> </div>

	</div>

</div>

<div ng-include="personal_info.html">

</div>

<div ng-repeat="(paramKey,paramValues) in user[docParam] track by $index" class="formDiv" ng-hide="docParam == 'files'">

	<!-- <div ng-if="docParam == 'personalInfo'">
	<div class="param_label col-md-2">
	{{paramKey}}
	</div>
	<div class="param_input col-md-10">
	<input type='text' class="form-control" name="" ng-model="user[docParam][paramKey]">
	</div>
	</div> -->
	<div ng-if="!(user[docParam].length>0)">

		<div ng-if="docParam != 'personalInfo'"> <div class="param_label col-md-2"> {{paramKey}} </div>
		
		<div ng-switch="user[docParam][paramKey]['inputType']"> 
			 <div ng-switch-when="text">
				 <div class="param_input col-md-10">
						<input type='text' class="form-control" placeholder="{{paramKey}}" name="user[docParam][paramKey]['paramValue']" ng-model="user[docParam][paramKey]['paramValue']">
				 </div> 
			 </div>
			 <div ng-switch-when="select">
			 	 <div  class="param_input col-md-10" >
							<select type='select' class="form-control" placeholder="{{paramKey}}" name="user[docParam][paramKey]['paramValue']" ng-model="user[docParam][paramKey]['paramValue']">
								<option value="volvo">Volvo</option>
								<option value="saab">Saab</option>
								<option value="mercedes">Mercedes</option>
								<option value="audi">Audi</option>
							</select> 
				</div>
			 </div>
			 <div ng-switch-when="textarea">
				 <div class="param_input col-md-10">
						<textarea class="form-control" placeholder="{{paramKey}}" name="user[docParam][paramKey]['paramValue']" ng-model="user[docParam][paramKey]['paramValue']"></textarea>
				 </div> 
			 </div>
			 
			 <div ng-switch-when="checklist"> 
				 <div  class="param_input col-md-10" > 
				 	<label ng-repeat="check in checklist">
						<input type="checkbox" checklist-model="user[docParam][paramKey][paramName]['paramValue']" checklist-value="check">
						<small>{{check}}</small> 
					</label> 
				</div>
			 </div>
			 <div ng-switch-default>
				 <div class="param_input col-md-10">
						<input type=text class="form-control" placeholder="{{paramKey}}" name="user[docParam][paramKey]['paramValue']" ng-model="user[docParam][paramKey]['paramValue']">
				 </div> 
			 </div>
		</div>

		<div ng-show="$last  && docParam != 'personalInfo'">
			<button type="button" class="btn btn-xs btn-default" ng-click="addRecordJobSeeker(docParam,$index)">
				+ Add a Record
			</button>
		</div>
	</div>

	<div ng-if="user[docParam].length>0">

		<div ng-repeat="(paramName,props) in paramValues " >
			<div class="forDiv">
				<div class="param_label col-md-2"> {{paramName}} </div>

				<div ng-switch="props.inputType"> <div ng-switch-when="text"> <div  class="param_input col-md-10" ng-if="props.paramName">
							<input type='text' class="form-control" placeholder="{{paramName}}{{paramKey + 1}}" name="user[docParam][paramKey][paramName]['paramValue']" ng-model="user[docParam][paramKey][paramName]['paramValue']">
						</div> </div> <div ng-switch-when="select"> <div  class="param_input col-md-10" ng-if="props.paramName">
							<select type='select' class="form-control" placeholder="{{paramName}}{{paramKey + 1}}" name="user[docParam][paramKey][paramName]['paramValue']" ng-model="user[docParam][paramKey][paramName]['paramValue']">
								<option value="volvo">Volvo</option>
								<option value="saab">Saab</option>
								<option value="mercedes">Mercedes</option>
								<option value="audi">Audi</option>
							</select> </div> </div> <div ng-switch-when="checklist"> <div  class="param_input col-md-10" ng-if="props.paramName"> <label ng-repeat="check in checklist">
								<input type="checkbox" checklist-model="user[docParam][paramKey][paramName]['paramValue']" checklist-value="check">
								<small>{{check}}</small> </label> </div> </div> <div ng-switch-default> <div  class="param_input col-md-10" ng-if="props.paramName">
							<input type='text' class="form-control " placeholder="{{paramName}}{{paramKey + 1}}" name="user[docParam][paramKey][paramName]['paramValue']" ng-model="user[docParam][paramKey][paramName]['paramValue']">
						</div> </div> </div>

				<!--
				<div ng-repeat="(k,v) in props track by $index" >
				<div class="param_label" >
				{{v.paramName}}
				</div>

				<div ng-switch="v.inputType">

				<div ng-switch-when="text">
				<div  class="param_input" >
				<input type='text' class="form-control param_input" placeholder="{{k}}" name="user[docParam][paramName][k]['paramValue']" ng-model="user[docParam][paramName][k]['paramValue']">
				</div>
				<br>
				</div>

				<div ng-switch-when="select">
				<div  class="param_input">
				<select class="form-control param_input" name="user[docParam][paramName][k]['paramValue']" ng-model="user[docParam][paramName][k]['paramValue']">
				<option value="volvo">Volvo</option>
				<option value="saab">Saab</option>
				<option value="mercedes">Mercedes</option>
				<option value="audi">Audi</option>
				</select>
				<br>
				</div>

				</div>

				</div>

				</div> -->
			</div>
			</br>

		</div>
		<div class="iterationCtrls formDiv" ng-if="user[docParam].length>0" >
			<div class="iterationCtrl" ng-click="remove(user[docParam],docParam,$index)"> X Delete </div>
			<div class="iterationCtrl" ng-click="move(user[docParam],$index,$index-1)"> Move Up </div>
			<div class="iterationCtrl" ng-click="move(user[docParam],$index,$index+1)"> Move Down </div>
	
		</div>

	</div>
	<div ng-show="$last" ng-if="user[docParam].length>0 && user[docParam] != 'personalInfo'" class="formDiv">
		<button type="button" class="btn btn-default" ng-click="addRecordJobSeeker(docParam,$index)">
			+ Add a Record
		</button>
	</div>
</div>

</div>

<div ng-repeat="(key,val) in user['files']" class="formDiv" >
	<div ng-show="docParam == 'files' "> <div class="param_label col-md-2" > {{key}} </div>
		<div style="height:200px;" ng-if="key =='paramValue'">
			<img ng-src="{{val}}" style="width:200px;">
		</div>
		<div flow-init="flowOp(key)"
		flow-files-submitted="$flow.upload()"
		flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
		class="" >
			<br/>

			<div class="drop galleryDiv col-md-12" flow-drop ng-class="dropClass" flow-drag-enter="style={border:'1px solid #4E75AD'}" flow-drag-leave="style={border:'1px dashed blue'}" ng-style="style">

				<p class="dragNdrop">
					Drag & Drop JPG, GIF or PNG Files Here!
				</p>

				<div ng-repeat="file in $flow.files" class="gallery-box col-md-2">

					<div class="thumbnail_title">{{file.name}}</div>
					<div class="thumbnail" ng-show="$flow.files.length">
						<img flow-img="file" />
						<div class="progress progress-striped" ng-class="{active: file.isUploading()}">
							<div class="progress-bar" role="progressbar"
							aria-valuenow="{{file.progress() * 100}}"
							aria-valuemin="0"
							aria-valuemax="100"
							ng-style="{width: (file.progress() * 100) + '%'}">
								<div class="sr-only">{{file.progress()}}% Complete</div>
							</div>
						</div>
						<div class="btn-group">
							<a class="btn btn-xs btn-danger delBtnBtn" ng-click="file.cancel()"> <i class="delBtnIcon btn btn-default btn-xs glyphicon glyphicon-trash"></i> </a>
						</div>
					</div>

				</div>

				<div class="clear"></div>
			</div>
		</div> </div>
</div>

</br>

<div class="col-md-5 col-md-offset-3" ng-if="nextDoc(docParam)">

	<a ng-click="saveUser(user,docParam)" class="btn btn-block btn-info"> Proceed To {{nextDoc(docParam)}} &nbsp <div class="glyphicon glyphicon-circle-arrow-right"></div> </a>

</div>

<div class="col-md-3 col-md-offset-3" ng-if="nextDoc(docParam)==false">

	<a href="/jobseeker#/" class="btn btn-block btn-info"> Save &nbsp <div class="glyphicon glyphicon-circle-arrow-right"></div> </a>

</div>

<!-- <div class="errors alert alert-danger" ng-if="errors">
<ul>
<li ng-repeat="(t,s) in errors">{{s}}</li>
</ul>
</div>
{{errors}}
<div class="">
<div ng-repeat="(key,val) in user[docParam]" class="formDiv" >
<div ng-hide="docParam == 'education'">
<div class="param_label col-md-2" ng-hide="docParam == 'files' ">
{{key}}
</div>
<div class="param_input col-md-10">
<input type='text' class="form-control" name="{{docParam + '__' + key}}" ng-model="user[docParam][key]">
</div>
</div>

<div ng-if="docParam == 'education' " ng-hide="user[docParam].length+1 > 1">
<div class="param_label col-md-2" ng-hide="docParam == 'files' ">
{{key}}

</div>
<div  class="param_input col-md-10">
<input type='text' class="form-control" name="user[docParam][key]" ng-model="user[docParam][key]">
</div>
<div ng-show="$last">
<button class="btn btn-default" ng-click="add1(docParam,key,$index)">+ Add a Record</button>
</div>
</div>

<div ng-if="docParam == 'education' && user[docParam].length+1 > 1">

<span ng-repeat="(m,n) in val" class="formDiv">
<span class="param_label col-md-2">
{{m}}
</span>
<span class="param_input col-md-10">
<input type='text' class="form-control" name=="user[docParam][key][m]" ng-model="user[docParam][key][m]">
</span>
</span>
<div class="iterationCtrls">
<span class="iterationCtrl" ng-click="remove(user[docParam],$index)">
X Delete
</span>
<span class="iterationCtrl" ng-click="move(user[docParam],$index,$index-1)">
Move Up
</span>
<span class="iterationCtrl" ng-click="move(user[docParam],$index,$index+1)">
Move Down
</span>
</div>
<span ng-show="$last">
<button class="btn btn-default" ng-click="add1(docParam,key,$index)">+ Add a Record</button>
</span>
</span>

</div>
<div ng-repeat="(key,val) in user['files']" class="formDiv">
<span ng-show="docParam == 'files' ">
<span class="param_label col-md-2" >
{{key}}
</span>

<div style="height:200px;">
<img ng-src="{{val}}" style="width:200px;">
</div>
<div flow-init="flowOp(key)"
flow-files-submitted="$flow.upload()"
flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
class="" >
<br/>

<div class="drop galleryDiv col-md-12" flow-drop ng-class="dropClass" flow-drag-enter="style={border:'1px solid #4E75AD'}" flow-drag-leave="style={border:'1px dashed blue'}" ng-style="style">

<p class="dragNdrop">Drag & Drop JPG, GIF or PNG Files Here!</p>

<div ng-repeat="file in $flow.files" class="gallery-box col-md-2">

<span class="thumbnail_title">{{file.name}}</span>
<div class="thumbnail" ng-show="$flow.files.length">
<img flow-img="file" />
<div class="progress progress-striped" ng-class="{active: file.isUploading()}">
<div class="progress-bar" role="progressbar"
aria-valuenow="{{file.progress() * 100}}"
aria-valuemin="0"
aria-valuemax="100"
ng-style="{width: (file.progress() * 100) + '%'}">
<span class="sr-only">{{file.progress()}}% Complete</span>
</div>
</div>
<div class="btn-group">
<a class="btn btn-xs btn-danger delBtnBtn" ng-click="file.cancel()">
<i class="delBtnIcon btn btn-default btn-xs glyphicon glyphicon-trash"></i>
</a>
</div>
</div>

</div>

<div class="clear"></div>
</div>
</div>
</span>
</div>
</div>

<div class="col-md-3 col-md-offset-3" ng-if="nextDoc(docParam)">

<a ng-click="saveUser(user,docParam)" class="btn btn-block btn-info">
Proceed To {{nextDoc(docParam)}} &nbsp <span class="glyphicon glyphicon-circle-arrow-right"></span>
</a>

</div>

<div class="col-md-3 col-md-offset-3" ng-if="nextDoc(docParam)==false">

<a href="/home#/home" class="btn btn-block btn-info">
Save &nbsp <span class="glyphicon glyphicon-circle-arrow-right"></span>
</a>

</div>

<div class="errors alert alert-danger" ng-if="errors">
<ul>
<li ng-repeat="(t,s) in errors">{{s}}</li>
</ul>
</div>

<div ng-repeat="(paramKey,paramValues) in user[docParam]" class="formDiv" >

<span ng-if="docParam == 'personalInfo'">
<span class="param_label col-md-2">
{{paramKey}}
</span>
<span class="param_input col-md-10">
<input type='text' class="form-control" name="" ng-model="user[docParam][paramKey]">
</span>
</span>

<span ng-if="docParam != 'personalInfo'">
<span class="param_label col-md-2">
{{paramKey}}
</span>

<span class="param_input col-md-10">
<input type='text' class="form-control" name="user[docParam][paramKey]['paramValue']" ng-model="user[docParam][paramKey]['paramValue']">
</span>
</span>

</div>
<div ng-hide="docParam == 'personalInfo'">
<button type="button" class="btn btn-default" ng-click="addRecordJobSeeker(docParam,$index)">+ Add a Record</button>
</div>

<div class="col-md-3 col-md-offset-3" ng-if="nextDoc(docParam)">

<a ng-click="saveUser(user,docParam)" class="btn btn-block btn-info">
Proceed To {{nextDoc(docParam)}} &nbsp <span class="glyphicon glyphicon-circle-arrow-right"></span>
</a>

</div>

<div class="col-md-3 col-md-offset-3" ng-if="nextDoc(docParam)==false">

<a href="/home#/home" class="btn btn-block btn-info">
Save &nbsp <span class="glyphicon glyphicon-circle-arrow-right"></span>
</a>

</div>

<!-- <div class="errors alert alert-danger" ng-if="errors">
<ul>
<li ng-repeat="(t,s) in errors">{{s}}</li>
</ul>
</div>
{{errors}}
<div class="">
<div ng-repeat="(key,val) in user[docParam]" class="formDiv" >
<span ng-hide="docParam == 'education'">
<span class="param_label col-md-2" ng-hide="docParam == 'files' ">
{{key}}
</span>
<span class="param_input col-md-10">
<input type='text' class="form-control" name="{{docParam + '__' + key}}" ng-model="user[docParam][key]">
</span>
</span>

<span ng-if="docParam == 'education' " ng-hide="user[docParam].length+1 > 1">
<span class="param_label col-md-2" ng-hide="docParam == 'files' ">
{{key}}

</span>
<span  class="param_input col-md-10">
<input type='text' class="form-control" name="user[docParam][key]" ng-model="user[docParam][key]">
</span>
<span ng-show="$last">
<button class="btn btn-default" ng-click="add1(docParam,key,$index)">+ Add a Record</button>
</span>
</span>

<span ng-if="docParam == 'education' && user[docParam].length+1 > 1">

<span ng-repeat="(m,n) in val" class="formDiv">
<span class="param_label col-md-2">
{{m}}
</span>
<span class="param_input col-md-10">
<input type='text' class="form-control" name=="user[docParam][key][m]" ng-model="user[docParam][key][m]">
</span>
</span>
<div class="iterationCtrls">
<span class="iterationCtrl" ng-click="remove(user[docParam],$index)">
X Delete
</span>
<span class="iterationCtrl" ng-click="move(user[docParam],$index,$index-1)">
Move Up
</span>
<span class="iterationCtrl" ng-click="move(user[docParam],$index,$index+1)">
Move Down
</span>
</div>
<span ng-show="$last">
<button class="btn btn-default" ng-click="add1(docParam,key,$index)">+ Add a Record</button>
</span>
</span>

</div>
<div ng-repeat="(key,val) in user['files']" class="formDiv">
<span ng-show="docParam == 'files' ">
<span class="param_label col-md-2" >
{{key}}
</span>

<div style="height:200px;">
<img ng-src="{{val}}" style="width:200px;">
</div>
<div flow-init="flowOp(key)"
flow-files-submitted="$flow.upload()"
flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
class="" >
<br/>

<div class="drop galleryDiv col-md-12" flow-drop ng-class="dropClass" flow-drag-enter="style={border:'1px solid #4E75AD'}" flow-drag-leave="style={border:'1px dashed blue'}" ng-style="style">

<p class="dragNdrop">Drag & Drop JPG, GIF or PNG Files Here!</p>

<div ng-repeat="file in $flow.files" class="gallery-box col-md-2">

<span class="thumbnail_title">{{file.name}}</span>
<div class="thumbnail" ng-show="$flow.files.length">
<img flow-img="file" />
<div class="progress progress-striped" ng-class="{active: file.isUploading()}">
<div class="progress-bar" role="progressbar"
aria-valuenow="{{file.progress() * 100}}"
aria-valuemin="0"
aria-valuemax="100"
ng-style="{width: (file.progress() * 100) + '%'}">
<span class="sr-only">{{file.progress()}}% Complete</span>
</div>
</div>
<div class="btn-group">
<a class="btn btn-xs btn-danger delBtnBtn" ng-click="file.cancel()">
<i class="delBtnIcon btn btn-default btn-xs glyphicon glyphicon-trash"></i>
</a>
</div>
</div>

</div>

<div class="clear"></div>
</div>
</div>
</span>
</div>
</div>

<div class="col-md-3 col-md-offset-3" ng-if="nextDoc(docParam)">

<a ng-click="saveUser(user,docParam)" class="btn btn-block btn-info">
Proceed To {{nextDoc(docParam)}} &nbsp <span class="glyphicon glyphicon-circle-arrow-right"></span>
</a>

</div>

<div class="col-md-3 col-md-offset-3" ng-if="nextDoc(docParam)==false">

<a href="/home#/home" class="btn btn-block btn-info">
Save &nbsp <span class="glyphicon glyphicon-circle-arrow-right"></span>
</a>

</div> -->

