<form name="registerJobSeekerForm"  novalidate>

	<ul id="nav-mobile" class="side-nav fixed col-xs-2 col-sm-2 col-md-2 col-lg-2">

		<a href="#" ng-repeat="(key,step) in steps track by $index"
			 class="docParamLi waves-effect waves-light"
			 ng-if="true"
			 ui-sref-active="active"
			 ui-sref="{{step.name}}">
			<span class="▶">▶ </span> {{ step.value | underscoreless | capitalize}}
		</a>


	</ul>

	<div ui-view=""  class="col-xs-10 col-sm-10 col-md-10 col-lg-10"></div>

</form>

<script>
	$('.button-collapse').sideNav();
	$('html').click(function(){ $('div[id^=sidenav-overlay]').remove();});
</script>
