<script type="text/ng-template" id="customTemplate.html">
	<a style="float:left;">
	<img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
	<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
	</a>
</script>

	
	<div class="col-lg-2">
		
		<div ng-repeat="(step,b) in user track by $index" id="status-buttons" class="docParamLi" ng-hide="absUrl == 'register_employer' && step == 'personalInfo'">
			<li ui-sref-active="" ui-sref=".{{step}}">
				<span class="▶">▶</span>{{step}} 
			</li>
	
		</div>
	</div>
	<div ui-view="" class="col-lg-8"></div>