



<div >


 
  <accordion close-others="oneAtATime">

    
    <accordion-group ng-repeat="(key, val) in user" class='active' is-open="status.isOpen[$index]">
   		 <accordion-heading is-open="status.isOpen[$index]" is-disabled="status.isOpen[$index]">
	           {{ key }}<i class="pull-right glyphicon" ng-class="{'fa-chevron-down': status.isOpen[$index], 'fa-chevron-right': !status.isOpen[$index]}"></i>
	     </accordion-heading>
    
    	<div>
    	  <form editable-form name="editableForm" onaftersave="saveUser(user)"  >
	 	     <div class="col-md-12">
		 	     <div ng-repeat="(k,v) in val" class="formParameter col-md-6" class="">
		 	     	<span >
			 	     	<span class="param_label col-md-2">
			 	     	   {{k}}:
			 	     	</span>
		 	     	</span>
		 	     	 <span e-class="form-control " class="col-md-4 formParameterValue" editable-text="user.{{key}}.{{k}}" e-name="{{k}}">{{v}}</span>
		 	     </div>	 
	 	     </div>		
	 	     	 
	 	     		
	 	     		
	 	     		 	
			 	 <div class="buttons">
	      			<button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">Edit</button>
		     		<span ng-show="editableForm.$visible">
			       		<button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">Save</button>
			       		<button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">Cancel</button>
		      		</span>
		    	</div>
		    </form>
    	</div>
    </accordion-group>
    
    
   </accordion>
</div>











