<div class="wrapper">


    <span ui-sref="admin.steps">steps</span>
    <span ui-sref="admin.manager">db tables</span>
    <span ui-sref="admin.forms.jobseeker">form manager</span>




    <div ui-view="steps.sideNav"        ng-show="$state.includes('admin.steps')"></div>
    <div ui-view="steps.nav"            ng-show="$state.includes('admin.steps')"></div>
    <div ui-view="steps"                ng-show="$state.includes('admin.steps')"></div>

    <div ui-view="manager.sideNav"      ng-show="$state.includes('admin.manager')"></div>
    <div ui-view="manager.nav"          ng-show="$state.includes('admin.manager')"></div>
    <div ui-view="manager"              ng-show="$state.includes('admin.manager')"></div>

    <div ui-view="forms.sideNav"      ng-show="$state.includes('admin.forms')"></div>
    <div ui-view="forms.nav"          ng-show="$state.includes('admin.forms')"></div>
    <div ui-view="forms"              ng-show="$state.includes('admin.forms')"></div>
</div>

