

<ul id="nav-mobile" class="side-nav fixed col-xs-2 col-sm-2 col-md-2 col-lg-2">
	<div class="col-md-12" dropdown is-open="status.isopen">
		<button type="button" class="btn btn-default dropdown-toggle statusBtn"  dropdown-toggle >
       		{{user.personal_information.status }} <div class="caret"></div>
        </button>
      	<ul class="dropdown-menu" role="menu">
        	<li ng-repeat="status in userStatuses" ng-click="setStatus(status)">
        		{{status.name}}
        	</li>
      	</ul>
   	 </div>
    <div>Last Updated - </div>{{user.personal_information.updated_at}}
	<div class="col-md-12 employerDetails">
		<h3 class="text-center">{{user.company.company_name.paramValue}}</h3>
		<img class="img-thumbnail" src="{{ user['files'][28]['paramValue'] }}" alt="Generic placeholder image">
	</div>
	<div class="">
		<ul class="nav nav-sidebar col-md-12">
				<a ui-sref-active="active" ui-sref="employer.jobs" class="docParamLi waves-effect waves-light"><span class="circle">▶</span>Job Offers</a>

				<a href="#" ng-repeat="(a,b) in user track by $index"
				   class="docParamLi waves-effect waves-light"
				   ng-show="a == 'files'"
				   ui-sref-active="active"
				   ui-sref=".{{a}}">
					<span class="circle">▶</span>{{a | underscoreless | capitalize:true}}</span>
				</a>
		</ul>
	</div>
	<div>
		<div  class="postAJob" ui_sref="jobPost" >
			<img ng-src="https://secure.wanted.co.il/en.demo.wanted.co.il/images/global/post_job.png">
		</div>
	</div>
</ul>



<main>
  <!-- <div ui-view="employer.jobs.159" class="col-md-8"></div> -->
  <div ng-repeat="(a,b) in user" id="status-buttons" class="text-center">
		<div ui-view="employer.{{a}}"></div>
  </div>
  <div ui-view="jobPost" class="col-md-8"></div>


  <div ui-view="" class="col-lg-10"></div>
</main>



<!--<div id="demoModal" class="modal">-->
	<!--<div class="modal-content">-->
		<!--<h4>Modal header</h4>-->
		<!--<p>A bunch of text</p>-->
	<!--</div>-->
	<!--<div class="modal-footer">-->
		<!--<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>-->
	<!--</div>-->
<!--</div>-->
  <!--&lt;!&ndash; <div ui-view="employer.edit" class="col-md-8"></div> &ndash;&gt;-->
<!--
  <div ui-view="employer.jobs" class="col-md-10"></div>


<footer class="footerNavUl">



</footer>
-->

<!--&lt;!&ndash; Modal Trigger &ndash;&gt;-->
<!--<div class="col">-->
	<!--<a class='btn' href='#demoModal' modal>Show Modal</a>-->
<!--</div>-->
<!--&lt;!&ndash; Modal Structure &ndash;&gt;-->
<!--<div id="demoModal" class="modal">-->
	<!--<div class="modal-content">-->
		<!--<h4>Modal header</h4>-->
		<!--<p>A bunch of text</p>-->
	<!--</div>-->
	<!--<div class="modal-footer">-->
		<!--<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>-->
	<!--</div>-->
<!--</div>-->
<!--<script type="text/ng-template" id="newJob.html">-->
	<!--<div  class="modal">-->
		<!--<div class="modal-content">-->
			<!--<h4>Modal header</h4>-->
			<!--<p>A bunch of text</p>-->
		<!--</div>-->
		<!--<div class="modal-footer">-->
			<!--<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>-->
		<!--</div>-->
	<!--</div>-->
<!--</script>-->
 <script type="text/ng-template" id="newJob.html">
        <div class="modal-header">
            <h3 class="modal-title">Post A New Job</h3>
        </div>
        <div class="modal-body">

		<form editable-form  id="signup-form" role="form"   ng-model="post" shown="true" >

			<div ng-repeat="(docParamName, docParamValues) in jobPost" ng-if="docParamName != 'postInfo'" >
				<div class="postDocParamNameDivider">
					{{docParamName | underscoreless | capitalize}}
					<hr>
				</div>

				<div ng-repeat="(paramKey,paramValues) in docParamValues" ng-hide="paramKey == 'docParamId'" >
					<div>
						<div class="param_label col-xs-5 col-sm-5 col-md-5 col-lg-5">
							{{paramKey | underscoreless | capitalize}}
						</div>

						<div ng-switch="paramValues.inputType">
							<div ng-switch-when="text">
								<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
									<input type='text' class="form-control" placeholder="{{paramKey}}" name="jobPost[docParamName][paramKey]['paramValue']" ng-model="jobPost[docParamName][paramKey]['paramValue']">
								</div>
							</div>

							<div ng-switch-when="select">
								<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
									<select class="form-control" ng-model="jobPost[docParamName][paramKey]['paramValue']" ng-options="o.value as o.text for o in groups[paramKey]" ng-init="loadGroups(paramKey, jobPost[docParamName]['docParamId'], true)"  ng-disabled="!groups[paramKey]">
									</select>
								</div>
							</div>

							<div ng-switch-when="textarea">
								<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
									<textarea class="form-control" placeholder="{{paramKey}}" name="jobPost[docParamName][paramKey]['paramValue']" ng-model=jobPost[docParamName][paramKey]['paramValue']"></textarea>
								</div>
							</div>

							<div ng-switch-when="date">
								<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
									<p class="input-group">
										<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="jobPost[docParamName][paramKey]['paramValue']" is-open="opened[paramKey]" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
							  <span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open($event,paramKey)"><i class="glyphicon glyphicon-calendar"></i></button>
							  </span>
									</p>
								</div>
							</div>

							<div ng-switch-when="checklist">
								<div  class="col-xs-5 col-sm-5 col-md-5 col-lg-5"   ng-init="loadGroups(paramKey, jobPost[docParamName]['docParamId'], true)">
									<label ng-repeat="check in groups[paramKey] track by $index" >
										<input type="checkbox" checklist-model="jobPost[docParamName][paramKey]['paramValue']" checklist-value="check.value"  >
										<small>{{check.text}}</small>
									</label>
								</div>
							</div>

							<div ng-switch-default>
								<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
									<input type='text' class="form-control" placeholder="{{paramKey}}" name="jobPost[docParamName][paramKey]['paramValue']" ng-model="jobPost[docParamName][paramKey]['paramValue']">
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</form>
        </div>


        <div class="modal-footer">
			<button type="submit" ng-click="savePost(jobPost)">
				<img src="https://secure.wanted.co.il/en.demo.wanted.co.il/images/global/save_job.png">
			</button>
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>

    </script>

<script>

	$('.button-collapse').sideNav();
	$('body').click(function(){ $('div[id^=sidenav-overlay]').remove();});
</script>

<script>
//	$('.postAJob').leanModal();
</script>

