<script type="text/ng-template" id="customTemplate.html">
  <a style="float:left;">
      <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
      <div bind-html-unsafe="match.label | typeaheadHighlight:query"></div>
  </a>
</script>



<!-- <div class="errors alert alert-danger" ng-if="errors">
	<ul>	
		<li ng-repeat="(t,s) in errors">{{s}}</li>	
	</ul>
</div> -->


<div ng-if="docParam == 'company'" >
		
	<div class="col-lg-8 fieldDiv">
		
		<div class="param_label col-lg-8">
			Company*
		</div>
		
		<div>
			<input type='text' class="form-control param_input" name="company_name" placeholder="Company Name" ng-model="user.company.company_name.paramValue" required>
		</div>
		
	</div>	
</br>	
	<div class="col-lg-8 fieldDiv">
		<div style="float:left;">
			<input type='checkbox'>Hide company name 
		</div>
		
	</div>	
</br>	
	<div class="col-lg-8 fieldDiv">
		
		<div class="param_label col-lg-8">
			Contact Person
		</div>
		
		<div>
			<input type='text' class="form-control param_input" name="contact_person" placeholder="Contact Person" ng-model="user.company.contact_person.paramValue" required>
		</div>
		
	</div>	
</br>	
	<div class="col-lg-8 fieldDiv">
		
		<div class="param_label col-lg-8">
			Contact Title
		</div>
		
		<div>
			<input type='text' class="form-control param_input" name="contact_title" placeholder="Contact Title" ng-model="user.company.contact_title.paramValue" required>
		</div>
		
	</div>	
</br>	
	<div class="col-lg-8 fieldDiv">
		
		<div class="param_label col-lg-8">
			Street Address*
		</div>
		
		<div>
			<input type='text' class="form-control param_input" name="street_1" placeholder="street" ng-model="user.personal_information.street_1" required>
		</div>
		
	</div>	
</br>	
	<div class="col-lg-8 fieldDiv">
		
		<div class="param_label col-lg-8">
			City*
		</div>
		
		<div>
			<input type='text' class="form-control param_input" name="city" placeholder="city" ng-model="user.personal_information.city" required>
		</div>
		
	</div>	
</br>	
	<div class="col-lg-8 fieldDiv">
		
		<div class="param_label col-lg-8">
			Zip Code
		</div>
		
		<div>
			<input type='text' class="form-control param_input" name="zipcode" placeholder="zipcode" ng-model="user.personal_information.zipcode" required>
		</div>
		
	</div>	
</br>	
	
<!---------------------------iterables---------------------------------iterables------------------------------------iterables------------------------------------------------------------------------------------------>		
			
	<div >
		
		<div ng-hide="user.company.length > 0 ">
			<div class="col-lg-8 fieldDiv">
				<div class="param_label col-lg-8">
					Main Field*
				</div>
				
				<div>
					<input type='text' class="form-control param_input" name="main_field" placeholder="Main Field" ng-model="user.company.main_field.paramValue" required>
				</div>
				
				<div>
					<button type="button" class="btn btn-xs btn-default" ng-click="addRecordEmployer('company',$index)">+ Add a Record</button>
				</div>
			</div>
			
		</div>	
		<div ng-if="user.company.length > 0 ">
			<div ng-repeat="(a,b) in user.company">
				<div class="col-lg-8 fieldDiv">
					<div class="param_label col-lg-8">
						Main Field*
					</div>
					
					<div>
						<input type='text' class="form-control param_input" name="main_field" placeholder="Main Field {{a+1}}" ng-model="user.company[a]['main_field'][paramValue]" required>
					</div>
					
					<div ng-show="$last">
						<button type="button" class="btn btn-xs btn-default" ng-click="addRecordEmployer('company',a)">+ Add a Record</button>
					</div>
					
					
					<div class="iterationCtrls" >
						<div class="iterationCtrl" ng-click="remove(user['company'],$index)">
							X Delete
						</div>
						<div class="iterationCtrl" ng-click="move(user['company'],$index,$index-1)">
							Move Up
						</div>
						<div class="iterationCtrl" ng-click="move(user['company'],$index,$index+1)">
							Move Down
						</div>
					</div>
					
					
				</div>
			</div>	
		</div>	
	</br>	
		<div class="col-lg-8 fieldDiv">
		
			<div class="param_label col-lg-8">
				Secondary Field
			</div>
			
			<div>
				<input type='text' class="form-control param_input" name="secondary_field" placeholder="Secondary Field" ng-model="user.company.secondary_field.paramValue" required>
			</div>
			
			<div>
				<button type="button" class="btn btn-xs btn-default" ng-click="addIterableCompanyParam('secondary_field',$index)">+ Add a Record</button>
			</div>
		</div>	
	</br>	
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	</div>		
			

			
	
				
			
			
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>		
	<div class="col-lg-8 fieldDiv">
		<div class="param_label col-lg-8">
			Company YouTube Video*
		</div>
		
		<div>
			<input type='text' class="form-control param_input" name="youtube" placeholder="YouTube" ng-model="user.company.youtube.paramValue" required>
		</div>
		
	</div>	
</br>	
	<div class="col-lg-8 fieldDiv">
		
		<div class="param_label col-lg-8">
			Short Company Description*
		</div>
		<textarea class="form-control param_input" name="short_company_description" ng-model="user.company.short_company_description.paramValue" rows="10" required>
			
		</textarea>
	</div>	
</br>
	<div class="col-lg-8 fieldDiv">
		
		<div class="param_label col-lg-8">
			Site Link
		</div>
		
		<div>
			<input type='text' class="form-control param_input" name="site_link" placeholder="site_link" ng-model="user.company.site_link.paramValue" required>
		</div>
		
	</div>	
</br>	




<h3 class="col-lg-8">User Information</h3>
	</br>
<div class="col-lg-8 fieldDiv">
		
		<div class="param_label col-md-2">
			First Name*
		</div>

		<div class="col-md-6">
			<input type='text' class="form-control param_input" name="first_name" placeholder="First Name" ng-model="user.personal_information.first_name" required>
		</div>
		
	</div>	
</br>	
	<div class="col-lg-8 fieldDiv">
		
		<div class="param_label col-md-2">
			Last Name*
		</div>
		
		<div class="col-md-6">
			<input type='text' class="form-control param_input" name="last_name" placeholder="Last Name" ng-model="user.personal_information.last_name" required>
		</div>
		
	</div>	
</br>	
	<div class="col-lg-8 fieldDiv">
		
		<div class="param_label col-md-2">
			Phone/Cell*
		</div>
		
		<div class="col-md-6">
			<input type='text' class="form-control param_input" name="mobile" placeholder="Phone/Cell" ng-model="user.personal_information.mobile" required>
		</div>
		
	</div>	
</br>	
	<div class="col-lg-8 fieldDiv">
		
		<div class="param_label col-md-2">
			E-mail*
		</div>
		
		<div class="col-md-6">
			<input type='email' class="form-control param_input" name="email" placeholder="E-mail" ng-model="user.personal_information.email" required>
		</div>
		
	</div>	
</br>	
	<div class="col-lg-8 fieldDiv">
		
		<div class="param_label col-md-2">
			Password*
		</div>
		
		<div class="col-md-6">
			<input type='password' class="form-control param_input" name="password" placeholder="Password" ng-model="user.personal_information.password" required>
		</div>
		
	</div>	
</br>	
	<!-- <div>
		
		<div class="param_label col-md-2">
			Birthdate*
		</div>
		
		<div>
			<input type='date' class="form-control param_input" name="date_of_birth" placeholder="Birthdate" ng-model="user.personal_information.date_of_birth" required>
		</div>
		
	</div>	
</br>	 -->
</br>
	<div class="col-lg-8 fieldDiv">
			
		<div style="float:left;">
		    <input type="checkbox" class="" ng-model="user.personal_information.send_newsletters"> 
		    <small >
				I wish to receive newsletters with updates from time to time
			</small>
		</div>
		
	</div>		
</br>
	
	
	<ng-include class="col-lg-10" src="'../../../partials/disclaimer.html'"></ng-include>

</br>

	<div class="col-lg-8 fieldDiv">
			
		<div style="float:left;">
		    <input type="checkbox" class="" > 
		    <small >
				I have read and approved the disclaimer
			</small>
		</div>
		
	</div>	
	
			
</div>

<div ng-include="personal_info.html" class="col-lg-8 fieldDiv">
	
</div>




	<div ng-repeat="(key,val) in user['files']" class="formDiv" >
	
		<div ng-show="docParam == 'files' ">
					<div class="param_label col-md-2" >		
						{{key}}
					</div>
						
					<div style="height:200px;">
						<img ng-src="{{val.paramValue}}" style="width:200px;">	
					</div>
					<div flow-init="flowOp(key)"
					     flow-files-submitted="$flow.upload()"
					     flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
					     class="" >					     
 					 <br/>
  					
					    	
 					 <div class="drop galleryDiv col-md-12" flow-drop ng-class="dropClass" flow-drag-enter="style={border:'1px solid #4E75AD'}" flow-drag-leave="style={border:'1px dashed blue'}" ng-style="style">
					
					    <p class="dragNdrop">Drag & Drop JPG, GIF or PNG Files Here!</p>
					
					    <div ng-repeat="file in $flow.files" class="gallery-box col-md-2">
					    	
					      <div class="thumbnail_title">{{file.name}}</div>
					      <div class="thumbnail" ng-show="$flow.files.length">
					        <img flow-img="file" />
					      <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
					        <div class="progress-bar" role="progressbar"
					             aria-valuenow="{{file.progress() * 100}}"
					             aria-valuemin="0"
					             aria-valuemax="100"
					             ng-style="{width: (file.progress() * 100) + '%'}">
					          <div class="sr-only">{{file.progress()}}% Complete</div>
					        </div>
					      </div>
					      <div class="btn-group">
					        <a class="btn btn-xs btn-danger delBtnBtn" ng-click="file.cancel()">
					         	<i class="delBtnIcon btn btn-default btn-xs glyphicon glyphicon-trash"></i>
					        </a>
					      </div>
					      </div>
			
					    </div>
					    
					    <div class="clear"></div>
					  </div>
				</div>
		</div>
	</div>


	</br>

	<div class="col-md-4 col-md-offset-3" ng-if="nextDoc(docParam)">
		
	    <a ng-click="saveUser(user,docParam)" class="btn btn-block btn-info">
	   	 Proceed To {{nextDoc(docParam)}} &nbsp <div class="glyphicon glyphicon-circle-arrow-right"></div>
	    </a>
	    
	</div>
	
	<div class="col-md-3 col-md-offset-3" ng-if="nextDoc(docParam)==false" >
	
	    <a href="/employer#/" class="btn btn-block btn-info" ng-click="saveUser(user,docParam)">
	   		 Save &nbsp <div class="glyphicon glyphicon-circle-arrow-right"></div>
	    </a>

	    
	</div>



