<!-- <table class="table table-bordered table-hover table-condensed">
	<th ng-repeat="col in columns">
		{{col}}
	</th>
	<tr ng-repeat="param in params" >
	 <td ng-repeat="key in notSorted(param)" ng-init="value = param[key]" ng-show='!$last'>
      
          {{value}}
        
	 </td>
    </tr> 
</table> -->


 <div>

	<table class="table table-bordered table-hover table-condensed">
		<th></th>
		<th ng-repeat="col in notSorted(columns)">
			{{columns[col]}}
		</th>
		<tr ng-repeat="param in sysParamValues">
	    	
	    	<td style="white-space: nowrap">
	        	<!-- form -->
		        <form editable-form name="rowform" onbeforesave="saveParam($data, param.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == param">
		        	<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">save</button>
		          	<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">cancel</button>
		        </form>
		        	<div class="buttons" ng-show="!rowform.$visible">
		          		<button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
		          		<button class="btn btn-danger" ng-click="deleteParam(param,$index)">del</button>
		        	</div>  
	       	</td>
	       	
	       	
	       	<td ng-repeat="(key,val) in notSorted(param)">
	        	<!-- editable username (text with validation) -->
	        	<span ng-if="val == 'id'" name="{{val}}" id="{{val}}">
	        		{{ param.id || 'empty' }}
	        	</span>
	         	<span editable-text="param.{{val}}" ng-if="val != 'id' && val != 'value_ref' && val != 'param_id' && val != 'ref_user_id' && val != 'doc_type'" e-class="form-control"  name="{{val}}" id="{{val}}" e-name="{{val}}" e-form="rowform"  e-required>
	          		{{ param[val] || 'empty' }}
	         	</span>
	         	<span editable-select="param.{{val}}" ng-if="val == 'value_ref'" id="{{val}}" e-name="{{val}}" e-form="rowform" onshow="loadGroups(val)" e-class="form-control"  e-ng-options="g.id as g.value for g in groups[val]"  e-required>
	          		{{ param[val] || 'empty' }}
	         	</span>
	         	<span editable-select="param.{{val}}" ng-if="val == 'param_id'" id="{{val}}" e-name="{{val}}" e-form="rowform" onshow="loadGroups(val)" e-class="form-control"   e-ng-options="g.id as g.name for g in groups[val]" e-required>
	          		{{ param[val] || 'empty' }}
	         	</span>
	         	<span editable-select="param.{{val}}" ng-if="val == 'ref_user_id'" id="{{val}}" e-name="{{val}}" e-form="rowform" onshow="loadGroups(val)" e-class="form-control" e-ng-options="g.id as g.id + ' ' + g.first_name + ' ' + g.last_name for g in groups[val]" e-required>
	          		{{ param[val] || 'empty' }}
	         	</span>
	         	<span editable-select="param.{{val}}" ng-if="val == 'doc_type'" id="{{val}}" e-name="{{val}}" e-form="rowform" onshow="loadGroups(val)" e-class="form-control" e-ng-options="g.id as g.name for g in groups[val]" e-required>
	          		{{ param[val] || 'empty' }}
	         	</span>
	         
	      	</td>
	    </tr>
	 </table>
	
	 <button class="btn btn-default" ng-click="addParam()">Add row</button>
</div>

