
<ul id="jobseeker_register_steps_sideNav" accessibleForm class="side-nav fixed" style="">
    <li class="logo">
        <div class="profile_pic" style="padding-bottom:10px;">
            <img   ng-src="../../img/profile-ph.gif"  class="thumbnail add_profile_pic" />
            <!--<div class="add_profile_pic_overlay">Add Profile Picture</div>-->
        </div>
    </li>
    <li ng-repeat="(key,step) in steps | toArray:true | filter:{ belongsTo : type }:true ">
       <a href="#"
          class="docParamLi waves-effect waves-light"
          ng-class="{ active: $state.includes('{{step.name}}') }"
          ui-sref=" {{step.name}} ( {docParam: '{{step.name}}' } )">
           <span class="▶">▶ </span> {{ step.value | underscoreless | capitalize }}
       </a>
    </li>
</ul>
<style> .affix{ top: 0!important;}</style>
<script> $('#jobseeker_register_steps_sideNav').affix({offset: {top: 64}});</script>