	<!-- <button class="btn btn-primary" ui-sref="employer.edit">Edit</button> -->

<nav class="col-md-2 sideNav text-center">
	<div class="col-md-12" dropdown is-open="status.isopen">
		
      <button type="button" class="btn btn-default dropdown-toggle statusBtn"  dropdown-toggle >
        {{user.personalInfo.status }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="status in userStatuses" ng-click="setStatus(status)">
        	{{status.name}}
        </li>
      </ul>
   	 </div>
    <span>Last Updated - </span>{{user.personalInfo.updated_at}}
	<div class="col-md-12 employerDetails">
		<h3 class="text-center">{{user.company.company_name.paramValue}}</h3>
		<img class="img-thumbnail" src="{{ user.files.company_logo.paramValue }}" alt="Generic placeholder image">
	
	</div>
	<div class="">
	
	 <ul class="nav nav-sidebar col-md-12">
           	<li ui-sref-active="active" ui-sref="employer.jobs" class="docParamLi"><span class="circle">▶</span>Job Offers</li>
            <div ng-repeat="(a,b) in user" id="status-buttons" class="docParamLi" ng-show="a == 'files'">
                <li ui-sref-active="active" ui-sref=".{{a}}"><span class="circle">▶</span>{{a}}</li>
               
            </div>
    </ul>
	</div>

<div>
		<button  class="btn btn-primary postAJob" ui-sref=".jobPost" data-toggle="modal" data-target=".jobPost" >
			 <i class="glyphicon glyphicon-th-list"></i>  	Post A New Job
		</button>
</div>
</nav>



 
  <!-- <div ui-view="employer.jobs.159" class="col-md-8"></div> -->
  <div ng-repeat="(a,b) in user" id="status-buttons" class="text-center">
		<div ui-view="employer.{{a}}"></div>
  </div>
  <div ui-view="employer.jobPost" class="col-md-8"></div>
  <div ui-view="" class="col-lg-10"></div>
  <!-- <div ui-view="employer.edit" class="col-md-8"></div> -->
<!--
  <div ui-view="employer.jobs" class="col-md-10"></div>
	

<footer class="footerNavUl">
	

   
</footer>









