

<script type="text/ng-template" id="customTemplate.html">
  <a style="float:left;">
      <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>




<!-- <div class="col-md-12 center-modal" ng-repeat="footerNavli in footerNavlis"> -->
	
	<div class="modal fade bs-example-modal-lg_Gallery col-md-12 center-modal" id-"newModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg">	
			  
			  
			    <div ng-repeat="(m,n) in user.files" class="gallery-box col-md-2" >	
			    	<div flow-init="flowOp(m)"
					     flow-files-submitted="$flow.upload()"
					     flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
					     class="modal-content" >					     
 						 <br/>
						 
						 <div class="thumbnail" >
							<span class="thumbnail_title">{{q}}</span>
								<img  ng-src="{{n.paramValue}}">
								<div class="btn-group">
						       		 <a class="btn btn-xs btn-danger delBtnBtn" ng-click="deleteImage(user.personalInfo.id,n,m)">
								        <i class="delBtnIcon btn btn-default btn-xs glyphicon glyphicon-trash"></i>
								     </a>
								     <button>
								        <i class=" btn btn-default btn-xs glyphicon glyphicon-user"></i>
								     </button>	
							    </div>
								
						</div>
					    	
 						<div class="drop galleryDiv col-md-12" flow-drop ng-class="dropClass" flow-drag-enter="style={border:'1px solid #4E75AD'}" flow-drag-leave="style={border:'1px dashed blue'}" ng-style="style">
						    <p class="dragNdrop">Drag & Drop JPG, GIF or PNG Files Here!</p>
						    <div ng-repeat="file in $flow.files" class="gallery-box col-md-2">
						    	
						      <span class="thumbnail_title">{{file.name}}</span>
						      <div class="thumbnail" ng-show="$flow.files.length">
						        <img flow-img="file" />
						      <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
						        <div class="progress-bar" role="progressbar"
						             aria-valuenow="{{file.progress() * 100}}"
						             aria-valuemin="0"
						             aria-valuemax="100"
						             ng-style="{width: (file.progress() * 100) + '%'}">
						          <span class="sr-only">{{file.progress()}}% Complete</span>
						        </div>
						      </div>
						      <div class="btn-group">
						        <a class="btn btn-xs btn-danger delBtnBtn" ng-click="file.cancel()">
						         	<i class="delBtnIcon btn btn-default btn-xs glyphicon glyphicon-trash"></i>
						        </a>
						      </div>
						      </div>
				
						    </div>
						    
						    <div class="clear"></div>
					  </div>
					  
					  
					</div>
				</div>
			</div>
	</div>
<!-- </div> -->



<div class="modal fade bs-example-modal-lg_Resumes  center-modal " id-"newModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg ">	
			  	<div class="gallery-box">
			  		<div class="modal-content">
			  			Resumes
			  		</div>	
			  	</div>
			  </div>
</div>

<div class="modal fade bs-example-modal-lg_Certifications  center-modal " id-"newModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg ">	
			  	<div class="gallery-box">
			  		<div class="modal-content">
			  			Certifications
			  		</div>	
			  	</div>
			  </div>
</div>

<div class="modal fade bs-example-modal-lg_References  center-modal " id-"newModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg ">	
			  	<div class="gallery-box">
			  		<div class="modal-content">
			  			References
			  		</div>	
			  	</div>
			  </div>
</div>

<div class="modal fade bs-example-modal-lg_Cover  center-modal " id-"newModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg ">	
			  	<div class="gallery-box">
			  		<div class="modal-content">
			  			Cover Letter
			  		</div>	
			  	</div>
			  </div>
</div>
<!-- sideBar with the status, picture, and name -->

<nav class="col-md-2 sideNav">
	<div class="col-md-12">
		<progressbar class="progress-striped active" value="dynamic" type="{{type}}"></progressbar>	
	</div>
	
	<div class="col-md-12" dropdown is-open="status.isopen">
	  <span>status: graduate  </span>
      <button type="button" class="btn btn-default dropdown-toggle statusBtn"  dropdown-toggle >
        {{user.personalInfo.status }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="status in userStatuses" ng-click="setStatus(status)">
        	{{status.name}}
        </li>
      </ul>
   	 </div>
	
	<div class="col-md-12">
		<h3 class="text-center">{{user.personalInfo.first_name +'  '+user.personalInfo.last_name}}</h3>
		<img class="img-thumbnail col-md-12" src="{{ user.files.user_photo.paramValue }}" alt="Generic placeholder image" width="140" height="140">	
	</div>
	
	<div class="btn btn-primary col-md-12" ui-sref="jobseeker.findajob">
		
		find a job
		
		 

	</div>
	
</nav>

<div ui-view="">

  <accordion close-others="oneAtATime">
    <accordion-group ng-repeat="(docParamName, docParamValues) in user" class='active accordionPanel col-md-10' is-open="$first" ng-hide="key == 'files'">
   		 <accordion-heading is-open="status.isOpen[$index]">
   		  <div ng-class="{'openAccordion': status.isOpen[$index], 'closeAccordion': !status.isOpen[$index]}" >
	           {{ docParamName }} <i class="pull-right glyphicon"></i>
   		  </div>
	     </accordion-heading>
    	
    	 
    	  <form editable-form name="editableForm" onaftersave="saveUser(user)" >
			 	     
				 	   
				 	     		
								<div ng-if="docParamName == 'personalInfo'" >
									
									
									
									<div>
										
										<span class="param_label col-md-2">
											First Name*
										</span>
										
										<span editable-text="user.personalInfo.first_name" e-class="form-control param_input" e-name="first_name"  ng-model="user.personalInfo.first_name" required>
											{{user.personalInfo.first_name}}
										</span>
										
									</div>	
								</br>	
									<div>
										
										<span class="param_label col-md-2">
											Last Name*
										</span>
										
										<span editable-text="user.personalInfo.last_name" e-class="form-control param_input" e-name="last_name"  ng-model="user.personalInfo.last_name" required>
											{{user.personalInfo.last_name}}
										</span>
										
									</div>	
								</br>	
								<div>
										
										<span class="param_label col-md-2">
											E-mail*
										</span>
										
										<span editable-email="user.personalInfo.email" e-class="form-control param_input" e-name="email"  ng-model="user.personalInfo.email" required>
											{{user.personalInfo.email}}
										</span>
										
									</div>	
								</br>	
									<div>
										
										<span class="param_label col-md-2">
											Phone/Cell*
										</span>
										
										<span editable-tel="user.personalInfo.mobile" e-class="form-control param_input" e-name="mobile"  ng-model="user.personalInfo.mobile" required>
											{{user.personalInfo.mobile}}
										</span>
										
									</div>	
								</br>	
									
									<div>
										
										<span class="param_label col-md-2">
											Password*
										</span>
										
										{{user.personalInfo.password}}
										<!-- <span editable-text="user.personalInfo.password" e-type="password" e-class="form-control param_input" e-name="password"  ng-model="user.personalInfo.password" required>
										</span> -->
										
									</div>	
								</br>	
									<div>
										
										<span class="param_label col-md-2">
											Gender*
										</span>
										<span e-class="form-control postInput" class="" editable-select="user.personalInfo.gender" e-name="user.personalInfo.gender" ng-model="user.personalInfo.gender"   e-ng-options="g.value as g.text for g in genders"> 
											{{ user.personalInfo.gender}}
										</span>
										
									</div>	
								</br>
									<!-- <div>
										
										<span class="param_label col-md-2">
											Birthdate*
										</span>
										
										<span>
											<input type='date' class="form-control param_input" name="date_of_birth" placeholder="Birthdate" ng-model="user.personalInfo.date_of_birth" required>
										</span>
										
									</div>	
								</br>	 -->
									<div>
										
										<span class="param_label col-md-2">
											Marital Status
										</span>
										
										
										<span e-class="form-control postInput" class="" editable-select="user.personalInfo.martial_status" e-name="user.personalInfo.martial_status" ng-model="user.personalInfo.martial_status" e-ng-options="g.value as g.text for g in martialStatuses"> 
													 			    {{ user.personalInfo.martial_status}}
										</span>
											
									</div>	
								</br>	
									<div>
										
										<span class="param_label col-md-2">
											Education Status
										</span>
										<span e-class="form-control postInput" class="" editable-select="user.personalInfo.education_status" e-name="user.personalInfo.education_status" ng-model="user.personalInfo.education_status" e-ng-options="g.value as g.text for g in educationStatuses"> 
													 			    {{ user.personalInfo.education_status}}
										</span>
									</div>	
								</br>
									<div>
										
										<span class="param_label col-md-2">
											Street Address 1
										</span>
										
										<span editable-text="user.personalInfo.street_1" ng-model="user.personalInfo.street_1" name="street_1" e-class="form-control param_input">
											 {{user.personalInfo.street_1}}
										</span>
										
										
										
									</div>	
								</br>	
									
									<div>
										
										<span class="param_label col-md-2">
											country
										</span>
										
										<span editable-text="user.personalInfo.country" ng-model="user.personalInfo.country" e-class="form-control param_input" e-typeahead="country as country for country in countries  | filter:$viewValue | limitTo:8">
								     		{{user.personalInfo.country}}
								     	</span>	
										
										
										
									</div>	
								</br>	
									<div>
										
										<span class="param_label col-md-2">
											State*
										</span>
										
										
										<span editable-text="user.personalInfo.state" name="state" ng-model="user.personalInfo.state" placeholder="" e-class="form-control param_input" e-typeahead="state.name as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" ng-model="user.personalInfo.state">
											{{user.personalInfo.state}}
										</span>
										
									</div>	
								</br>	
									<div>
										
										<span class="param_label col-md-2">
											city*
										</span>
										
										<span editable-text="user.personalInfo.city" name="city" e-class="form-control param_input" ng-model="asyncSelected" placeholder="" e-typeahead="address for address in getLocation($viewValue)" e-typeahead-loading="loadingLocations" e-typeahead-no-results="noResults" ng-model="user.personalInfo.city" >
											{{user.personalInfo.city}}
										</span>
										
									</div>	
								</br>	
									<div>
										
										<span class="param_label col-md-2">
											Zip Code
										</span>
										
										<span editable-text="user.personalInfo.zipcode" name="zipcode" e-class="form-control param_input" ng-model="user.personalInfo.zipcode">
										   {{user.personalInfo.zipcode}}
										</span>
										
									</div>	
								</br>	
									<div>
										
										<span class="param_label col-md-2">
											Facebook
										</span>
										
										<span editable-text="user.personalInfo.facebook" name="facebook" e-class="form-control param_input" ng-model="user.personalInfo.facebook">
										  <a href="http://www.{{user.personalInfo.facebook}}">{{user.personalInfo.facebook}}</a>
										</span>
										
									</div>		
								</br>	
									<div>
										
										<span class="param_label col-md-2">
											Twitter
										</span>
										
										<span editable-text="user.personalInfo.twitter" name="twitter" e-class="form-control param_input" ng-model="user.personalInfo.twitter">
										   {{user.personalInfo.twitter}}
										</span>
										
									</div>	
								</br>	
									<div>
										
										<span class="param_label col-md-2">
											LinkedIn
										</span>
										
										<span editable-text="user.personalInfo.linkedin" name="linkedin" e-class="form-control param_input" ng-model="user.personalInfo.linkedin">
										   {{user.personalInfo.linkedin}}
										</span>
										
									</div>	
								</br>	
									<div>
										
										<span class="param_label col-md-2">
											YouTube video
										</span>
										
										<span editable-text="user.personalInfo.youtube" name="youtube" e-class="form-control param_input" ng-model="user.personalInfo.youtube">
										   {{user.personalInfo.youtube}}
										</span>
										
									</div>	
									<!-- <span class="param_label col-md-2">
						 	     	   {{paramKey}}:
						 	     	</span>
					 	  
					 	     		<span  e-class="form-control " class="col-md-4 formParameterValue" editable-text="user.{{docParamName}}.{{paramKey}}" e-name="{{paramKey}}">
					 	     	 		{{paramValues}}
					 	     		</span> -->
								</div>	
						  <div ng-repeat="(paramKey,paramValues)  in docParamValues" class="formParameter col-md-6" > 
								<div ng-repeat="(k,v) in paramValues track by $index">
						 	     
								 	     <div ng-hide="isArray(docParamValues)">
								 	     	<span class="param_label col-md-2" ng-if="k == 'slug'">
								 	     	   {{v}}:
								 	     	</span>
							 	  
							 	     		<span ng-if="k == 'paramValue'" e-class="form-control " class="col-md-4 formParameterValue" editable-text="user[docParamName][paramKey][k]" e-name="user[docParamName][paramKey][k]">
							 	     	 		{{v}}
							 	     		</span>
							 	     	</div>	
							 	     		
							 	     	<div ng-repeat="(r,s) in v track by $index" ng-show="isArray(docParamValues)">
									 	     	<span class="param_label col-md-2" ng-if="r == 'slug'">
									 	     	   {{s}}:
									 	     	</span>
									 	     	
								 	     		<span ng-if="r == 'paramValue'" e-class="form-control " class="col-md-4 formParameterValue" editable-text="user[docParamName][paramKey][k][r]" e-name="user[docParamName][paramKey][k][r]">
								 	     	 		{{s}}
								 	     		</span>
							 			</div>		
							 	</div>	
					 			<div class="iterationCtrls" ng-show="editableForm.$visible && isArray(docParamValues)">
									<span class="iterationCtrl" ng-click="remove(docParamValues,$index)">
										X Delete
									</span>
									<span class="iterationCtrl" ng-click="move(docParamValues,$index,$index-1)">
										Move Up
									</span>
									<span class="iterationCtrl" ng-click="move(docParamValues,$index,$index+1)">
										Move Down
									</span>
								</div>		 	 		 	     
						 	    <div ng-show="editableForm.$visible">
				 	     	     	<span ng-show="$last" >
											<button type="button" class="btn btn-default" ng-click="addWhenEdit(docParamName,$index)">+ Add a Record</button>
									</span>
								</div>	

		 	    		 </div>

					 	 <div class="buttons">
					 	 	
			      			<button type="button" class="btn btn-default editBtn" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">Edit</button>
				     		<span ng-show="editableForm.$visible">
					       		<button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">Save</button>
					       		<button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">Cancel</button>
				      		</span>
				    	</div> 
		    </form>
    	</div>
    </accordion-group>
    
    
   </accordion>

<footer class="col-md-10">
	
	<div ng-repeat="footerNavli in footerNavlis" class="userHomeFooterNavLi " data-toggle="modal" data-target=".bs-example-modal-lg_{{footerNavli.tag}}">{{footerNavli.tag}}</div>
   
</footer>


</div>



