<!--<script type="text/ng-template" id="customTemplate.html">-->
	<!--<a style="float:left;">-->
		<!--<img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">-->
		<!--<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>-->
	<!--</a>-->
	<!--<div>-->

	<!--</div>-->
<!--</script>-->




<main>





	<div class="errors alert alert-danger" ng-if="errors">
		<ul>
			<li ng-repeat="(key,error) in errors track by $index">
				{{error[0] }}
			</li>
		</ul>
	</div>




	<!--<div class="btn-group" uib-dropdown dropdown-append-to-body>-->
	<!--<button id="btn-append-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>-->
	<!--Dropdown on Body <span class="caret"></span>-->
	<!--</button>-->
	<!--<ul class="uib-dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">-->
	<!--<li ng-repeat="option in groups['degree']" role="menuitem">-->
	<!--<div ng-click="  $event.preventDefault();$event.stopPropagation();secondLevel = !secondLevel">-->
	<!--{{option.text}}-->
	<!--</div>-->
	<!--<hr>-->
	<!--<div uib-collapse="secondLevel">-->
	<!--<div class="well well-lg">-->
	<!--<ul>-->
	<!--<li ng-repeat="major in groups['major']" role="menuitem" >-->
	<!--<div ng-click="  $event.preventDefault();$event.stopPropagation();thirdLevel = !thirdLevel">-->
	<!--{{major.text}}-->
	<!--</div>-->
	<!--<div uib-collapse="thirdLevel">-->
	<!--<div class="well well-lg">-->
	<!--<ul>-->
	<!--<li ng-repeat="major in groups['minor']" role="menuitem" >-->
	<!--<div ng-click="  $event.preventDefault();$event.stopPropagation();">-->
	<!--{{major.text}}-->
	<!--</div>-->
	<!--</li>-->
	<!--</ul>-->
	<!--</div>-->
	<!--</div>-->
	<!--</li>-->
	<!--</ul>-->
	<!--</div>-->
	<!--</div>-->
	<!--</li>-->


	<!--</ul>-->
	<!--</div>-->


	<div>



		<div ng-if="docParam == 'personal_information'">

			<!-- <input type="text" class="" name="id" ng-value="" ng-model="user.personal_information.id">
			<input type="text" class="" name="type" ng-value="1" ng-model="user.personal_information.type">
			<input type="text" class="" name="subtype" ng-value="jobSeeker" ng-model="user.personal_information.subtype">
			<input type="text" class="" name="status" ng-value="active" ng-model="user.personal_information.active"> -->




			<div class="fieldDiv col-xs-12  col-sm-12 col-md-12 col-lg-12">
				<div class="param_label col-xs-12 col-sm-4 col-md-3 col-lg-3 "> First Name* </div>
				<div class="col-xs-12 col-sm-4 col-md-5 col-lg-3 form-group"  show-errors>
					<input type='text'
						   class="form-control "
						   name="first_name"
						   ng-change="validateThis('first_name')"
						   placeholder="First Name"
						   ng-model="user.personal_information.first_name"
						   ng-minlength="3"
						   ng-maxlength="30"
						   ng-pattern="/^[a-zA-Z- ]*$/"
						   popover-placement="bottom"
						   uib-popover="This is a popover with explanations. currently only implemented on first_name paremeter. "
						   popover-trigger="hover"

						   required>
				</div>


				<ul ng-show="registerJobSeekerForm.first_name.$dirty || registerJobSeekerForm.last_name.$touched || serverValidation">

					<li class="help-block" ng-show="registerJobSeekerForm.first_name.$error.pattern">Please insert your real name. only english characters.</li>
					<li class="help-block" ng-show="registerJobSeekerForm.first_name.$error.required">Required</li>
					<li class="help-block" ng-show="registerJobSeekerForm.first_name.$error.minlength">Please insert at least 3 letters</li>
					<span class="help-block" ng-show="registerJobSeekerForm.first_name.$error.maxlength">Please insert a maximum of 15 letters</span>
					<span class="help-block" ng-show="registerJobSeekerForm.first_name.$touched && registerJobSeekerForm.first_name.$valid">Hi {{user.personal_information.first_name | capitalize}}, Cool Name!!</span>
				</ul>

			</div>

			</br>

			<div class="fieldDiv col-xs-12  col-sm-12 col-md-12 col-lg-12">
				<div class="param_label col-xs-12 col-sm-4 col-md-3 col-lg-3"> Last Name* </div>
				<div class="col-xs-12 col-sm-4 col-md-5 col-lg-3 form-group" show-errors>
					<input type='text' class="form-control " name="last_name" placeholder="Last Name" ng-model="user.personal_information.last_name" ng-minlength="3" ng-maxlength="15" required>
				</div>
				<div ng-show="registerJobSeekerForm.last_name.$dirty || registerJobSeekerForm.last_name.$touched || serverValidation">
					<span class="help-block" ng-show="registerJobSeekerForm.last_name.$error.pattern">Please insert your real last name and use only english letters</span>
					<span class="help-block" ng-show="registerJobSeekerForm.last_name.$error.required">Required</span>
					<span class="help-block" ng-show="registerJobSeekerForm.last_name.$error.minlength">Please insert at least 3 letters</span>
					<span class="help-block" ng-show="registerJobSeekerForm.last_name.$error.maxlength">Please insert a maximum of 15 letters</span>
					<span class="help-block" ng-show="registerJobSeekerForm.last_name.$touched && registerJobSeekerForm.last_name.$valid">Welcome to Our Career System!!</span>
				</div>
			</div>
			</br>
			<div class="fieldDiv col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class="param_label col-xs-12 col-sm-4 col-md-3 col-lg-3"> Phone/Cell* </div>

				<div class="col-xs-12 col-sm-4 col-md-5 col-lg-3 form-group" show-errors>
					<input type='text' class="form-control " name="phone_1"    placeholder="Phone/Cell" ng-model="user.personal_information.phone_1" >
				</div>

			</div>
			</br>
			<div class="fieldDiv col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class="param_label col-xs-12 col-sm-4 col-md-3 col-lg-3"> *E-mail </div>

				<div class="col-xs-12 col-sm-4 col-md-5 col-lg-3 form-group"  show-errors>
					<input type='email' class="form-control " name="email" placeholder="email" ng-change="validateOnServer()"  ng-model="user.personal_information.email" required>
				</div>
				<span class="help-block" ng-if="emailUnique || serverValidation" ng-repeat="error in emailUnique">{{error}}</span>

				<div ng-show="registerJobSeekerForm.email.$dirty || registerJobSeekerForm.email.$touched || serverValidation">
					<span class="help-block" ng-show="registerJobSeekerForm.email.$error.required">Required</span>
					<span class="help-block" ng-show="registerJobSeekerForm.email.$touched && registerJobSeekerForm.email.$invalid">please insert a valid email address</span>
					<span class="help-block" ng-show="registerJobSeekerForm.email.$touched && registerJobSeekerForm.email.$valid">thanks. </span>
				</div>
			</div>
			</br>
			<div class="fieldDiv col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class="param_label col-xs-12 col-sm-4 col-md-3 col-lg-3"> Password* </div>

				<div class="col-xs-12 col-sm-4 col-md-5 col-lg-3 form-group" show-errors>
					<input type='password' class="form-control " name="password" placeholder="Password" ng-model="user.personal_information.password" ng-minlength="6" ng-maxlength="10" required>
				</div>
				<div ng-show="registerJobSeekerForm.password.$dirty || registerJobSeekerForm.password.$touched || serverValidation">
					<span class="help-block" ng-show="registerJobSeekerForm.password.$error.required">Required</span>
					<span class="help-block" ng-show="registerJobSeekerForm.password.$invalid">password must be 6-10 characters </span>
					<span class="help-block" ng-show="registerJobSeekerForm.password.$touched && registerJobSeekerForm.password.$valid">Dont worry, your secret is safe with us.</span>
				</div>
			</div>
			</br>
			<div class="fieldDiv col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class="param_label col-xs-12 col-sm-4 col-md-3 col-lg-3"> Gender* </div>
				<div class="col-xs-12 col-sm-4 col-md-5 col-lg-3 form-group" show-errors>
					<select class="form-control " name="gender" ng-model="user.personal_information.gender" >

						<option value="male" >Male</option>
						<option value="female" >Female</option>
					</select>
				</div>
			</div>
			</br>
			<!-- <div>

			<div class="param_label col-xs-12 col-sm-4 col-md-3 col-lg-3">
			Birthdate*
			</div>

			<div>
			<input type='date' class="form-control " name="date_of_birth" placeholder="Birthdate" ng-model="user.personal_information.date_of_birth" required>
			</div>

			</div>
			</br>	 -->
			<div class="fieldDiv col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class="param_label col-xs-12 col-sm-4 col-md-3 col-lg-3"> Marital Status </div>
				<div class="col-xs-12 col-sm-4 col-md-5 col-lg-3 form-group" show-errors >
					<select class="form-control  " name="martial_status" ng-model="user.personal_information.martial_status" >
						<option value="" selected></option>
						<option value="single" >Single</option>
						<option value="married" >Married</option>
						<option value="Divorced" >Divorced</option>
						<option value="Widowed" >Widowed</option>
					</select> </div>
			</div>
			</br>

			<div class="fieldDiv col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class="param_label col-xs-12 col-sm-4 col-md-3 col-lg-3"> Education Status </div>
				<div class="col-xs-12 col-sm-4 col-md-5 col-lg-3 form-group" show-errors>
					<select class="form-control"
							name="education_status"
							ng-model="user.personal_information.education_status"
							ng-options="s.value as s.text for s in educationStatuses"
							ng-selected="user.personal_information.education_status" >
					</select>
				</div>
			</div>
			</br>
			<div class="fieldDiv col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class="param_label col-xs-12 col-sm-4 col-md-3 col-lg-3"> Street Address 1 </div>

				<div class="col-xs-12 col-sm-4 col-md-5 col-lg-3 form-group" show-errors>
					<input type='text' class="form-control " name="street_1" placeholder="" ng-model="user.personal_information.street_1" >
				</div>

			</div>
			</br>

			<div class="fieldDiv col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class="param_label col-xs-12 col-sm-4 col-md-3 col-lg-3  "> country </div>

				<div class="col-xs-12 col-sm-4 col-md-5 col-lg-3 form-group" show-errors>
					<input type="text" name="country" ng-model="user.personal_information.country" class="form-control"  >
					<!--typeahead="country for country in countries  | filter:$viewValue | limitTo:8"-->
				</div>

			</div>
			</br>
			<div class="fieldDiv col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class="param_label col-xs-12 col-sm-4 col-md-3 col-lg-3"> State* </div>

				<div class="col-xs-12 col-sm-4 col-md-5 col-lg-3 form-group" show-errors>
					<input type="text" name="state" ng-model="user.personal_information.state" placeholder="" class="form-control "  ng-model="user.personal_information.state" >
					<!--typeahead="state.name as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html"-->
				</div>

			</div>
			</br>
			<div class="fieldDiv col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class="param_label col-xs-12 col-sm-4 col-md-3 col-lg-3"> city* </div>

				<div class="col-xs-12 col-sm-4 col-md-5 col-lg-3 form-group" show-errors>
					<input type="text" name="city" class="form-control " ng-model="user.personal_information.city" placeholder=""  ng-model="user.personal_information.city" >
					<!--typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults"-->
				</div>

			</div>
			</br>
			<div class="fieldDiv col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class="param_label col-xs-12 col-sm-4 col-md-3 col-lg-3"> Zip Code </div>

				<div class="col-xs-12 col-sm-4 col-md-5 col-lg-3 form-group" show-errors>
					<input type="text" name="zipcode" class="form-control " ng-model="user.personal_information.zipcode">
				</div>

			</div>
			</br>
			<div class="fieldDiv col-xs-12  col-sm-12 col-md-12 col-lg-12-">

				<div class="param_label col-xs-12 col-sm-4 col-md-3 col-lg-3"> Facebook </div>

				<div class="col-xs-12 col-sm-4 col-md-5 col-lg-3 form-group" show-errors>
					<input type="text"  name="facebook" class="form-control " >
				</div>

			</div>
			</br>
			<div class="fieldDiv col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class="param_label col-xs-12 col-sm-4 col-md-3 col-lg-3"> Twitter </div>

				<div class="col-xs-12 col-sm-4 col-md-5 col-lg-3 form-group" show-errors>
					<input type="text"  name="twitter" class="form-control " >
				</div>

			</div>
			</br>
			<div class="fieldDiv col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class="param_label col-xs-12 col-sm-4 col-md-3 col-lg-3"> LinkedIn </div>

				<div class="col-xs-12 col-sm-4 col-md-5 col-lg-3 form-group" show-errors>
					<input type="text" name="linkedin" class="form-control " >
				</div>

			</div>
			</br>
			<div class="fieldDiv col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div class="param_label col-xs-12 col-sm-4 col-md-3 col-lg-3"> YouTube video </div>

				<div class="col-xs-12 col-sm-4 col-md-5 col-lg-3 form-group" show-errors>
					<input type="text" name="youtube" class="form-control" >
				</div>

			</div>
			</br>
			<div class="fieldDiv col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div style="float:left;">
					<input type="checkbox" class="form-control" ng-model="user.personal_information.send_newsletters" style="width:15px;">
					<div class="param_label"> I wish to receive newsletters with updates from time to time </div> </div>

			</div>
			</br>

			<ng-include class="fieldDiv col-xs-12 col-sm-6 col-md-6 col-lg-6 " src="'../../../partials/disclaimer.html'"></ng-include>

			</br>

			<div class="fieldDiv col-xs-12  col-sm-12 col-md-12 col-lg-12">

				<div style="float:left;" class="form-group" show-errors>
					<input type="checkbox" ng-model="user.personal_information.registration" name="registration" class="form-control" style="width:15px;" required>
					<div class="param_label"> I have read and approved the disclaimer </div> </div>

			</div>

		</div>




		</div>


		<div ng-repeat="(paramId,paramValues) in user[docParam] track by $index"  class="form_field" ng-hide="docParam == 'files'"  ng-if="paramId != 'docParamId'">


			<div ng-if="!(user[docParam].length>0)">

				<div ng-if="docParam != 'personal_information'"  class="form-field" >


					<div class="param_label col-xs-12 col-sm-6 col-md-6 col-lg-6">
						{{paramValues.paramName | underscoreless | capitalize}}
					</div>

					<!--<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>-->

					<div ng-switch="user[docParam][paramId]['inputType']">

						<div ng-switch-when="text">
							<div class="col-xs-12col-sm-4 col-md-4 col-lg-4">
								<input type='text' class="form-control" placeholder="{{paramValues.paramName}}" name="user[docParam][paramId]['paramValue']" ng-model="user[docParam][paramId]['paramValue']"  value="old[['first_name']]">
							</div>
						</div>

						<div ng-switch-when="select">
							<div  class="col-xs-12 col-sm-4 col-md-4 col-lg-4" >


								<!--<select data-ng-model="country" data-ng-options="country.name for country in countries" data-ng-change="">-->
									<!--<option value="">Select country</option>-->
								<!--</select>-->
								<!--<br>-->
								<!--<select data-ng-model="state" data-ng-options="state.name for state in states | filter:{countryId: country.id}:true">-->
									<!--<option value="">Select state</option>-->
								<!--</select>-->
								<!--<br> Country: {{country}}-->
								<!--<br> State: {{state}}-->




								<select class="form-control" ng-model="user[docParam][paramId]['paramValue']" ng-options="o.id as o.text for o in groups[paramValues.paramName] | toArray:true  | filter:{parent_id: user[docParam][user[docParam][paramId]['paramParentId']]['paramValue'] }:true "   ng-init="loadGroups(paramValues.paramName, user[docParam]['docParamId'])">
								</select>
								<!--<pre>paramId: {{paramId}}</pre>-->
								<!--<pre>paramParentId: {{user[docParam][paramId]['paramParentId']}}</pre>-->
								<!--<pre>parameter: {{user[docParam][paramId]['paramName']}}</pre>-->

								<!--<pre>parameter parent_id: {{user[docParam][paramId]['paramParentId']}}</pre>-->
								<!--<pre>selected  id: {{user[docParam][paramId]['paramValue']}}</pre>-->
								<!--<pre>selected  parent_id: {{ user[docParam][user[docParam][paramId]['paramParentId']]['paramValue']}}</pre>-->
							</div>
						</div>

						<div ng-switch-when="multitype_1">
							<div  class="col-xs-12 col-sm-4 col-md-4 col-lg-4" >


								<!--<select data-ng-model="country" data-ng-options="country.name for country in countries" data-ng-change="">-->
								<!--<option value="">Select country</option>-->
								<!--</select>-->
								<!--<br>-->
								<!--<select data-ng-model="state" data-ng-options="state.name for state in states | filter:{countryId: country.id}:true">-->
								<!--<option value="">Select state</option>-->
								<!--</select>-->
								<!--<br> Country: {{country}}-->
								<!--<br> State: {{state}}-->




								<select class="form-control" ng-model="user[docParam][paramId]['paramValue']" ng-options="o.id as o.text for o in groups[paramValues.paramName] | toArray:true  | filter:{parent_id: user[docParam][user[docParam][paramId]['paramParentId']]['paramValue'] }:true "   ng-init="loadGroups(paramValues.paramName, user[docParam]['docParamId'])">
								</select>
								<!--<pre>paramId: {{paramId}}</pre>-->
								<!--<pre>paramParentId: {{user[docParam][paramId]['paramParentId']}}</pre>-->
								<!--<pre>parameter: {{user[docParam][paramId]['paramName']}}</pre>-->

								<!--<pre>parameter parent_id: {{user[docParam][paramId]['paramParentId']}}</pre>-->
								<!--<pre>selected  id: {{user[docParam][paramId]['paramValue']}}</pre>-->
								<!--<pre>selected  parent_id: {{ user[docParam][user[docParam][paramId]['paramParentId']]['paramValue']}}</pre>-->
							</div>
						</div>

						<div ng-switch-when="textarea">
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<textarea class="form-control" placeholder="{{paramId}}" name="user[docParam][paramId]['paramValue']" ng-model="user[docParam][paramId]['paramValue']" ></textarea>
							</div>
						</div>

						<div ng-switch-when="checklist">
							<div  class="col-xs-12 col-sm-4 col-md-4 col-lg-4"   ng-init="loadGroups(paramId,user[docParam]['docParamId'])">
								<label ng-repeat="check in groups[paramId] track by $index" >
									<input type="checkbox" checklist-model="user[docParam][paramId]['paramValue']" checklist-value="check.value"  >
									<small>{{check.text}}</small>
								</label>
							</div>

						</div>

						<div ng-switch-when="date">

							<!--materialize pickDate-->
							<!--<p>{{user[docParamName][paramKey][k][r] | date:"MM/dd/yyyy"}}</p>-->
							<div  class="col-xs-12 col-sm-4 col-md-4 col-lg-4" >
								<input input-date

									   type="text"
									   name="created"
									   id="inputCreated[paramId]['paramValue']"
									   class="datepicker form-control form-con-width"
									   ng-model="user[docParam][paramId]['paramValue']"
									   container="body"
									   format="MM/dd/yyyy"
									   months-full="{{ month }}"
									   months-short="{{ monthShort }}"
									   weekdays-full="{{ weekdaysFull }}"
									   weekdays-short="{{ weekdaysShort }}"
									   weekdays-letter="{{ weekdaysLetter }}"
									   min="{{ minDate }}"
									   max="{{ maxDate }}"
									   today="today"
									   clear="clear"
									   close="close"
									   select-years="15"
									   on-start="onStart()"
									   on-render="onRender()"
									   on-open="onOpen()"
									   on-close="onClose()"
									   on-set="onSet()"
									   on-stop="onStop()" />
								<!--end materialize pickDate-->
								<script>
									$('.datepicker').pickadate();
								</script>
							</div>
							<!--<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">-->
								<!--<p class="input-group">-->
									<!--<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="user[docParam][paramId]['paramValue']" is-open="opened[paramId]" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />-->
								  <!--<span class="input-group-btn">-->
									<!--<button type="button" class="btn btn-default" ng-click="open($event,paramId)"><i class="glyphicon glyphicon-calendar"></i></button>-->
								  <!--</span>-->
								<!--</p>-->
							<!--</div>-->
							<!--<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">-->
							<!--<select class="form-control" ng-model="user[docParam][paramId]['paramValue']['month']" ng-options="o.value as o.text for o in months">-->
							<!--</select>-->
							<!--</div>-->

							<!--<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">-->
							<!--<select class="form-control" ng-model="user[docParam][paramId]['paramValue']['year']" ng-options="o.value  as o.text  for o in years">-->

							<!--</select>-->
							<!--</div>-->
						</div>

						<div ng-switch-when="cv">


							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<input ng-hide="hideInput" id="cvUpload"  type="file" nv-file-select uploader="uploader" /><br/>
									<ul>
										<li ng-repeat="item in uploader.queue" style="text-align:left;">
											<label>File name:</label> <span ng-bind="item.file.name"></span><br/>
											<button class="waves-effect waves-lights waves-teal" ng-click="item.upload();" style="font-size:22px;cursor:pointer;background-color: #FFFFFF;"><i class="glyphicon glyphicon-cloud-upload" ></i> &nbsp; Upload </button>
										</li>
									</ul>
							</div>
							<button  ng-show="hideInput" type="button" class="waves-effect waves-lights waves-teal" ng-click="resetPdfUrl();" style="background-color: #FFFFFF;font-size:22px;">
								<div ><i  class="glyphicon glyphicon-remove"></i></div>
							</button>
						</div>

						<div ng-switch-default>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<input type=text class="form-control" placeholder="{{paramId}}" name="user[docParam][paramId]['paramValue']" ng-model="user[docParam][paramId]['paramValue']" required>
							</div>
						</div>

					</div>

				</div>

				<div ng-show="$last  && docParam != 'personal_information'">
					<button type="button" class="btn btn-xs btn-default" ng-click="addRecordJobSeeker(docParam,$index)">
						+ Add a Record
					</button>
				</div>
			</div>
			<div ng-if="user[docParam].length>0">

				<div ng-repeat="(paramName,props) in paramValues track by $index" class="form-field"  ng-if="paramName != 'docParamId'">

					<div class="param_label col-xs-12 col-sm-6 col-md-6 col-lg-6">
						{{ props.paramName | underscoreless | capitalize }}
					</div>

					<div ng-switch="props.inputType">

						<div ng-switch-when="text">
							<div  class="col-xs-12col-sm-4 col-md-4 col-lg-4" ng-if="props.paramName">
								<input type='text' class="form-control" placeholder="{{paramName}}{{paramId + 1}}" name="user[docParam][paramId][paramName]['paramValue']" ng-model="user[docParam][paramId][paramName]['paramValue']">
							</div>
						</div>

						<div ng-switch-when="select">

							<div  class="col-xs-12col-sm-4 col-md-4 col-lg-4"  ng-if="props.paramName">
								<select class="form-control"
										ng-model="user[docParam][paramId][paramName]['paramValue']"
										ng-options="s.id as s.value for s in groups[props.paramName]  | toArray:true  | filter:{parent_id: user[docParam][paramId][user[docParam][paramId][paramName]['paramParentId']]['paramValue'] }:true "
										ng-init="loadGroups(props.paramName,user[docParam][paramId]['docParamId'])"
										ng-disabled="!groups[props.paramName]">
								</select>

							</div>
							<!--<pre class="col-md-12">-->
								             			<!--{{user[docParam][user[docParam][paramId][paramName]['paramParentId']]['paramValue']}}-->
								    <!--parent id        :	{{user[docParam][paramId][paramName]['paramParentId']}}-->
									<!--selected id value:	{{user[docParam][paramId][paramName]['paramValue']}}-->
							<!--</pre>-->
						</div>

						<div ng-switch-when="checklist">

							<div  class="col-xs-12col-sm-4 col-md-4 col-lg-4" ng-if="props.paramName"  ng-init="loadGroups(paramName,user[docParam][paramId]['docParamId'])">
								<label ng-repeat="check in groups[props.paramName] track by $index" >
									<input type="checkbox" checklist-model="user[docParam][paramId][paramName]['paramValue']" checklist-value="check.value"  >
									<small>{{check.text}}</small>
								</label>
							</div>
						</div>

						<div ng-switch-when="date">

							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<!--materialize pickDate-->

								<input input-date

									   type="text"
									   name="created"
									   id="inputCreated[paramId][paramName]['paramValue']"
									   class="datepicker form-control form-con-width"
									   ng-model="user[docParam][paramId][paramName]['paramValue']"
									   container="body"
									   format="MM/dd/yyyy"
									   months-full="{{ month }}"
									   months-short="{{ monthShort }}"
									   weekdays-full="{{ weekdaysFull }}"
									   weekdays-short="{{ weekdaysShort }}"
									   weekdays-letter="{{ weekdaysLetter }}"
									   min="{{ minDate }}"
									   max="{{ maxDate }}"
									   today="today"
									   clear="clear"
									   close="close"
									   select-years="15"
									   on-start="onStart()"
									   on-render="onRender()"
									   on-open="onOpen()"
									   on-close="onClose()"
									   on-set="onSet()"
									   on-stop="onStop()" />
								<!--end materialize pickDate-->
								<script>
									$('.datepicker').pickadate();
								</script>
								<!--<p class="input-group">-->
									<!--<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="openedIterable[paramId][paramName]" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />-->
								  <!--<span class="input-group-btn">-->
									<!--<button type="button" class="btn btn-default" ng-click="openIterable($event,paramName,paramId)"><i class="glyphicon glyphicon-calendar"></i></button>-->
								  <!--</span>-->
								<!--</p>-->
							</div>

						</div>
						<!--<div ng-switch-when="checklist">-->
						<!--<div  class="col-xs-12col-sm-4 col-md-4 col-lg-4"   ng-init="loadGroups(paramId)">-->
						<!--<label ng-repeat="check in groups[paramId]" >-->
						<!--<input type="checkbox" checklist-model="user[docParam][paramId][paramName]['paramValue']" checklist-value="check.value"  >-->
						<!--<small>{{check.text}}</small>-->
						<!--</label>-->
						<!--</div>-->

						<!--</div>-->
						<div ng-switch-when="cv">
							<div class="col-xs-12col-sm-4 col-md-4 col-lg-4" ng-init="getThisLengthKey(paramId);">
								<div>
									<input ng-hide="hideInput[paramId]"  id="cvUpload{{paramId}}" type="file" nv-file-select uploader="uploader[{{paramId}}]"/>
									<button  ng-show="pdfing[paramId]" type="button" class="waves-effect waves-lights waves-teal" ng-click="resetPdfUrlIterable(paramId);deleteFile();" style="background-color: #FFFFFF;font-size:18px;">
										<div ><i  class="glyphicon glyphicon-remove"></i></div>
									</button>
									<ul >
										<li ng-repeat="item in uploader[paramId].queue" style="text-align:left;">
											<label>File name:</label> <span ng-bind="item.file.name"></span><br/>
											<button  ng-hide="hideInput[paramId]" class="waves-effect waves-lights waves-teal" ng-click="item.upload();" style="font-size:22px;cursor:pointer;background-color: #FFFFFF;"><i class="glyphicon glyphicon-cloud-upload" ></i> &nbsp; Upload </button>
										</li>
									</ul>
								</div>
							</div>
							<!--<button  ng-show="pdfing[paramId]" type="button" class="waves-effect waves-lights waves-teal" ng-click="resetPdfUrl(paramId);" style="background-color: #FFFFFF;font-size:18px;">-->
								<!--<div  ng-click="deleteFile()"><i  class="glyphicon glyphicon-remove"></i></div>-->
							<!--</button>-->
						</div>
						<div ng-switch-default>
							<div  class="col-xs-12col-sm-4 col-md-4 col-lg-4" ng-if="props.paramName">
								<input type='text' class="form-control " placeholder="{{paramName}}{{paramId + 1}}" name="user[docParam][paramId][paramName]['paramValue']" ng-model="user[docParam][paramId][paramName]['paramValue']">
							</div>
						</div>

					</div>





				</div>

				<div class="iterationCtrls col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="user[docParam].length > 1" >
					<div class="iterationCtrl" ng-click="remove(user[docParam],docParam,$index)"> X Delete </div>
					<div class="iterationCtrl" ng-click="move(user[docParam],$index,$index-1)"> Move Up </div>
					<div class="iterationCtrl" ng-click="move(user[docParam],$index,$index+1)"> Move Down </div>

				</div>
				<hr ng-if="user[docParam].length > 1" class="col-md-12">
				<br>
			</div>


		</div>
	<div  ng-if="docParam != 'personal_information'"  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<!--<a class="btn-large waves-effect waves-light"  ng-click="addRecordJobSeeker(docParam,$index)"><i class="glyphicon glyphicon-plus"></i></a>-->
		<button type="button" class="btn-circle btn-lg waves-effect waves-light" ng-click="addRecordJobSeeker(docParam,$index)">
				<i class="glyphicon glyphicon-plus"></i>
		</button>

	</div>
	</div>

	<div ng-repeat="(key,val) in user['files']" class="" ng-hide="key == 'docParamId'">
		<div ng-show="docParam == 'files' "> <div class="param_label" > {{key}} </div>
			<div style="height:200px;" ng-if="key =='paramValue'">
				<img ng-src="{{val}}" style="width:200px;">
			</div>
			<div flow-init="flowOp(key)"
				 flow-files-submitted="$flow.upload()"
				 flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
				 class="" >
				<br/>

				<div class="drop galleryDiv"
					 flow-drop
					 ng-class="dropClass"
					 flow-drag-enter="style={border:'1px solid #4E75AD'}"
					 flow-drag-leave="style={border:'1px dashed blue'}"
					 ng-style="style">

					<p class="dragNdrop">
						Drag & Drop JPG, GIF or PNG Files Here!
					</p>

					<div ng-repeat="file in $flow.files" class="gallery-box col-md-2">

						<div class="thumbnail_title">{{file.name}}</div>
						<div class="thumbnail" ng-show="$flow.files.length">
							<img flow-img="file" />
							<div class="progress progress-striped" ng-class="{active: file.isUploading()}">
								<div class="progress-bar" role="progressbar"
									 aria-valuenow="{{file.progress() * 100}}"
									 aria-valuemin="0"
									 aria-valuemax="100"
									 ng-style="{width: (file.progress() * 100) + '%'}">
									<div class="sr-only">{{file.progress()}}% Complete</div>
								</div>
							</div>
							<div class="btn-group">
								<a class="btn btn-xs btn-danger" ng-click="file.cancel()"> <i class="glyphicon glyphicon-trash"></i> </a>
							</div>
						</div>

					</div>

					<div class="clear"></div>
				</div>
			</div> </div>
		</br>
		<div class="col-md-6">

			<div class="col-md-6" ng-if="nextDoc(docParam)" >

				<button  ng-click="saveUser(user,docParam)"  class="btn btn-success" ng-disabled="registerJobSeekerForm.$invalid"> Proceed To {{nextDoc(docParam) | underscoreless | capitalize}} &nbsp <div class="glyphicon glyphicon-circle-arrow-right"></div> </button>

			</div>

			<div class="col-md-6"  ng-if="nextDoc(docParam)==false">

				<a href="../../jobseeker/student/" class="btn btn-block btn-success"> Save &nbsp <div class="glyphicon glyphicon-circle-arrow-right"></div> </a>

			</div>
		</div>
	</div>
</main>




<!--
        <div ng-repeat="(k,v) in props track by $index" >
        <div class="param_label" >
        {{v.paramName}}
        </div>

        <div ng-switch="v.inputType">

        <div ng-switch-when="text">
        <div  class="" >
        <input type='text' class="form-control " placeholder="{{k}}" name="user[docParam][paramName][k]['paramValue']" ng-model="user[docParam][paramName][k]['paramValue']">
        </div>
        <br>
        </div>

        <div ng-switch-when="select">
        <div  class="">
        <select class="form-control " name="user[docParam][paramName][k]['paramValue']" ng-model="user[docParam][paramName][k]['paramValue']">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
        </select>
        <br>
        </div>

        </div>

        </div>

        </div> -->

<!-- <div class="errors alert alert-danger" ng-if="errors">
<ul>
<li ng-repeat="(t,s) in errors">{{s}}</li>
</ul>
</div>
{{errors}}
<div class="">
<div ng-repeat="(key,val) in user[docParam]" class="" >
<div ng-hide="docParam == 'education'">
<div class="param_label" ng-hide="docParam == 'files' ">
{{key}}
</div>
<div class=" ">
<input type='text' class="form-control" name="{{docParam + '__' + key}}" ng-model="user[docParam][key]">
</div>
</div>

<div ng-if="docParam == 'education' " ng-hide="user[docParam].length+1 > 1">
<div class="param_label" ng-hide="docParam == 'files' ">
{{key}}

</div>
<div  class=" ">
<input type='text' class="form-control" name="user[docParam][key]" ng-model="user[docParam][key]">
</div>
<div ng-show="$last">
<button class="btn btn-default" ng-click="add1(docParam,key,$index)">+ Add a Record</button>
</div>
</div>

<div ng-if="docParam == 'education' && user[docParam].length+1 > 1">

<span ng-repeat="(m,n) in val" class="">
<span class="param_label">
{{m}}
</span>
<span class=" ">
<input type='text' class="form-control" name=="user[docParam][key][m]" ng-model="user[docParam][key][m]">
</span>
</span>
<div class="iterationCtrls">
<span class="iterationCtrl" ng-click="remove(user[docParam],$index)">
X Delete
</span>
<span class="iterationCtrl" ng-click="move(user[docParam],$index,$index-1)">
Move Up
</span>
<span class="iterationCtrl" ng-click="move(user[docParam],$index,$index+1)">
Move Down
</span>
</div>
<span ng-show="$last">
<button class="btn btn-default" ng-click="add1(docParam,key,$index)">+ Add a Record</button>
</span>
</span>

</div>
<div ng-repeat="(key,val) in user['files']" class="">
<span ng-show="docParam == 'files' ">
<span class="param_label" >
{{key}}
</span>

<div style="height:200px;">
<img ng-src="{{val}}" style="width:200px;">
</div>
<div flow-init="flowOp(key)"
flow-files-submitted="$flow.upload()"
flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
class="" >
<br/>

<div class="drop galleryDiv col-md-12" flow-drop ng-class="dropClass" flow-drag-enter="style={border:'1px solid #4E75AD'}" flow-drag-leave="style={border:'1px dashed blue'}" ng-style="style">

<p class="dragNdrop">Drag & Drop JPG, GIF or PNG Files Here!</p>

<div ng-repeat="file in $flow.files" class="gallery-box col-md-2">

<span class="thumbnail_title">{{file.name}}</span>
<div class="thumbnail" ng-show="$flow.files.length">
<img flow-img="file" />
<div class="progress progress-striped" ng-class="{active: file.isUploading()}">
<div class="progress-bar" role="progressbar"
aria-valuenow="{{file.progress() * 100}}"
aria-valuemin="0"
aria-valuemax="100"
ng-style="{width: (file.progress() * 100) + '%'}">
<span class="sr-only">{{file.progress()}}% Complete</span>
</div>
</div>
<div class="btn-group">
<a class="btn btn-xs btn-danger delBtnBtn" ng-click="file.cancel()">
<i class="delBtnIcon btn btn-default btn-xs glyphicon glyphicon-trash"></i>
</a>
</div>
</div>

</div>

<div class="clear"></div>
</div>
</div>
</span>
</div>
</div>

<div class="col-md-3 col-md-offset-3" ng-if="nextDoc(docParam)">

<a ng-click="saveUser(user,docParam)" class="btn btn-block btn-info">
Proceed To {{nextDoc(docParam)}} &nbsp <span class="glyphicon glyphicon-circle-arrow-right"></span>
</a>

</div>

<div class="col-md-3 col-md-offset-3" ng-if="nextDoc(docParam)==false">

<a href="/home#/home" class="btn btn-block btn-info">
Save &nbsp <span class="glyphicon glyphicon-circle-arrow-right"></span>
</a>

</div>

<div class="errors alert alert-danger" ng-if="errors">
<ul>
<li ng-repeat="(t,s) in errors">{{s}}</li>
</ul>
</div>

<div ng-repeat="(paramKey,paramValues) in user[docParam]" class="" >

<span ng-if="docParam == 'personal_information'">
<span class="param_label">
{{paramKey}}
</span>
<span class=" ">
<input type='text' class="form-control" name="" ng-model="user[docParam][paramKey]">
</span>
</span>

<span ng-if="docParam != 'personal_information'">
<span class="param_label">
{{paramKey}}
</span>

<span class=" ">
<input type='text' class="form-control" name="user[docParam][paramKey]['paramValue']" ng-model="user[docParam][paramKey]['paramValue']">
</span>
</span>

</div>
<div ng-hide="docParam == 'personal_information'">
<button type="button" class="btn btn-default" ng-click="addRecordJobSeeker(docParam,$index)">+ Add a Record</button>
</div>

<div class="col-md-3 col-md-offset-3" ng-if="nextDoc(docParam)">

<a ng-click="saveUser(user,docParam)" class="btn btn-block btn-info">
Proceed To {{nextDoc(docParam)}} &nbsp <span class="glyphicon glyphicon-circle-arrow-right"></span>
</a>

</div>

<div class="col-md-3 col-md-offset-3" ng-if="nextDoc(docParam)==false">

<a href="/home#/home" class="btn btn-block btn-info">
Save &nbsp <span class="glyphicon glyphicon-circle-arrow-right"></span>
</a>

</div>

<!-- <div class="errors alert alert-danger" ng-if="errors">
<ul>
<li ng-repeat="(t,s) in errors">{{s}}</li>
</ul>
</div>
{{errors}}
<div class="">
<div ng-repeat="(key,val) in user[docParam]" class="" >
<span ng-hide="docParam == 'education'">
<span class="param_label" ng-hide="docParam == 'files' ">
{{key}}
</span>
<span class=" ">
<input type='text' class="form-control" name="{{docParam + '__' + key}}" ng-model="user[docParam][key]">
</span>
</span>

<span ng-if="docParam == 'education' " ng-hide="user[docParam].length+1 > 1">
<span class="param_label" ng-hide="docParam == 'files' ">
{{key}}

</span>
<span  class=" ">
<input type='text' class="form-control" name="user[docParam][key]" ng-model="user[docParam][key]">
</span>
<span ng-show="$last">
<button class="btn btn-default" ng-click="add1(docParam,key,$index)">+ Add a Record</button>
</span>
</span>

<span ng-if="docParam == 'education' && user[docParam].length+1 > 1">

<span ng-repeat="(m,n) in val" class="">
<span class="param_label">
{{m}}
</span>
<span class=" ">
<input type='text' class="form-control" name=="user[docParam][key][m]" ng-model="user[docParam][key][m]">
</span>
</span>
<div class="iterationCtrls">
<span class="iterationCtrl" ng-click="remove(user[docParam],$index)">
X Delete
</span>
<span class="iterationCtrl" ng-click="move(user[docParam],$index,$index-1)">
Move Up
</span>
<span class="iterationCtrl" ng-click="move(user[docParam],$index,$index+1)">
Move Down
</span>
</div>
<span ng-show="$last">
<button class="btn btn-default" ng-click="add1(docParam,key,$index)">+ Add a Record</button>
</span>
</span>

</div>
<div ng-repeat="(key,val) in user['files']" class="">
<span ng-show="docParam == 'files' ">
<span class="param_label" >
{{key}}
</span>

<div style="height:200px;">
<img ng-src="{{val}}" style="width:200px;">
</div>
<div flow-init="flowOp(key)"
flow-files-submitted="$flow.upload()"
flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
class="" >
<br/>

<div class="drop galleryDiv col-md-12" flow-drop ng-class="dropClass" flow-drag-enter="style={border:'1px solid #4E75AD'}" flow-drag-leave="style={border:'1px dashed blue'}" ng-style="style">

<p class="dragNdrop">Drag & Drop JPG, GIF or PNG Files Here!</p>

<div ng-repeat="file in $flow.files" class="gallery-box col-md-2">

<span class="thumbnail_title">{{file.name}}</span>
<div class="thumbnail" ng-show="$flow.files.length">
<img flow-img="file" />
<div class="progress progress-striped" ng-class="{active: file.isUploading()}">
<div class="progress-bar" role="progressbar"
aria-valuenow="{{file.progress() * 100}}"
aria-valuemin="0"
aria-valuemax="100"
ng-style="{width: (file.progress() * 100) + '%'}">
<span class="sr-only">{{file.progress()}}% Complete</span>
</div>
</div>
<div class="btn-group">
<a class="btn btn-xs btn-danger delBtnBtn" ng-click="file.cancel()">
<i class="delBtnIcon btn btn-default btn-xs glyphicon glyphicon-trash"></i>
</a>
</div>
</div>

</div>

<div class="clear"></div>
</div>
</div>
</span>
</div>
</div>

<div class="col-md-3 col-md-offset-3" ng-if="nextDoc(docParam)">

<a ng-click="saveUser(user,docParam)" class="btn btn-block btn-info">
Proceed To {{nextDoc(docParam)}} &nbsp <span class="glyphicon glyphicon-circle-arrow-right"></span>
</a>

</div>

<div class="col-md-3 col-md-offset-3" ng-if="nextDoc(docParam)==false">

<a href="/home#/home" class="btn btn-block btn-info">
Save &nbsp <span class="glyphicon glyphicon-circle-arrow-right"></span>
</a>

</div> -->
